interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/user/v
  response:
    body:
      string: '{"id":"w1knZ6yBvEhRThYPEYTwlmGv7N33","createdTime":1655431081524,"name":"Velocity","username":"v","url":"https://manifold.markets/v","avatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fv%2FjrWCCgX7WR.jpg?alt=media&token=8061788f-a243-421e-9e09-cf7e2747c9c1","bio":"If
        you prick us, do we not bleed? If you tickle us, do we not laugh? ...","website":"","twitterHandle":"","balance":13079.51754944143,"totalDeposits":2115,"profitCached":{"daily":4619.0476158665515,"monthly":22929.84736746954,"weekly":8063.125743897224,"allTime":23412.99914548799},"creatorVolumeCached":{"weekly":0,"daily":0,"monthly":0,"allTime":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"annk6w8maaig"'
      X-Matched-Path:
      - /api/v0/user/[username]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::cle1::bhlm5-1665272990500-6b6f1f589f1c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/user/v
  response:
    body:
      string: '{"id":"w1knZ6yBvEhRThYPEYTwlmGv7N33","createdTime":1655431081524,"name":"Velocity","username":"v","url":"https://manifold.markets/v","avatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fv%2FjrWCCgX7WR.jpg?alt=media&token=8061788f-a243-421e-9e09-cf7e2747c9c1","bio":"If
        you prick us, do we not bleed? If you tickle us, do we not laugh? ...","website":"","twitterHandle":"","balance":13079.51754944143,"totalDeposits":2115,"profitCached":{"allTime":23412.99914548799,"daily":4619.0476158665515,"monthly":22929.84736746954,"weekly":8063.125743897224},"creatorVolumeCached":{"weekly":0,"daily":0,"allTime":0,"monthly":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fia83bt373ig"'
      X-Matched-Path:
      - /api/v0/user/[username]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::cle1::zc46q-1665272990731-b1b0af0c3d91
    status:
      code: 200
      message: OK
version: 1
