[submodule "PyManifold"]
	path = src/PyManifold
	url = https://github.com/gappleto97/PyManifold
[submodule "src/test/manifold"]
	path = src/test/manifold
	url = https://github.com/gappleto97/manifold/
