[submodule "PyManifold"]
	path = ManifoldMarketManager/PyManifold
	url = https://github.com/LivInTheLookingGlass/PyManifold
[submodule "src/manibots"]
	path = ManifoldMarketManager/manibots
	url = https://github.com/LivInTheLookingGlass/manibots.git
