# General
attrs                       # Better dataclasses, part of python-telegramtbot anyways
cryptography                # Account storage, part of requests anyways
cache3                      # General caching
github3.py                  # To check GitHub issues
pyee                        # For callbacks on Market
python-telegram-bot>=20.0a4 # For verification of resolving markets
requests>=2.28              # General requests, part of PyManifold, github3 anyways

# Dev environment
bump2version
twine

# Tests
flake8 < 5
markdown >= 3.3
numpy
pytest
pytest-benchmark
pytest-cov
pytest-flake8
pytest-isort
pytest-mypy
pytest-pydocstyle
pytest-regressions
pytest-xdist
types-Markdown
types-requests
vcrpy>=4.1.1