interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/market/z8awccgKF9qEreoG6FsH
  response:
    body:
      string: "{\"id\":\"z8awccgKF9qEreoG6FsH\",\"creatorId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"creatorUsername\":\"LivInTheLookingGlass\",\"creatorName\":\"Olivia\",\"createdTime\":1662505175369,\"creatorAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"closeTime\":1664423940000,\"question\":\"Will
        the Trump special master case be substantially reversed by end of year?\",\"tags\":[],\"url\":\"https://manifold.markets/LivInTheLookingGlass/will-the-trump-special-master-case\",\"pool\":{\"NO\":1650.2652964915594,\"YES\":24.39385111263929},\"probability\":0.9884078047101845,\"p\":0.5575939973657242,\"totalLiquidity\":160,\"outcomeType\":\"BINARY\",\"mechanism\":\"cpmm-1\",\"volume\":6275.337580857782,\"volume7Days\":0,\"volume24Hours\":0,\"isResolved\":true,\"resolution\":\"YES\",\"resolutionTime\":1664432192844,\"resolutionProbability\":0.9884078047101845,\"lastUpdatedTime\":1664398218328,\"comments\":[{\"userUsername\":\"jack\",\"contractId\":\"z8awccgKF9qEreoG6FsH\",\"id\":\"vAyGrGSfei2JpJhDbxb2\",\"contractQuestion\":\"Will
        the Trump special master case be substantially reversed by end of year?\",\"replyToCommentId\":\"Y1vCgyIeC9EsXEJZGIST\",\"content\":{\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"*Not
        really a small part, but my point is that there's other stuff going on here
        that wasn't reversed. One very important part was reversed, and I agree that
        is \\\"substantial\\\".\"}]}],\"type\":\"doc\"},\"commenterPositionShares\":654,\"commentType\":\"contract\",\"commenterPositionOutcome\":\"NO\",\"commenterPositionProb\":0.9862381333247052,\"userName\":\"Jack\",\"userAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FJackC%2Fmetal-jacks-thumbnail.jpg?alt=media&token=89d230f3-05a9-4ad4-9606-5fc6e2c6b096\",\"userId\":\"YGZdZUSFQyM8j2YzPaBqki8NBz23\",\"contractSlug\":\"will-the-trump-special-master-case\",\"createdTime\":1664232299771},{\"content\":{\"type\":\"doc\",\"content\":[{\"type\":\"paragraph\",\"content\":[{\"attrs\":{\"label\":\"BTE\",\"id\":\"1Oq0eh40fApX38NuRtID\"},\"type\":\"mention\"},{\"text\":\"
        This was only one appeal about one small part. Let's say hypothetically the
        special master rules that documents XYZ are protected by privilege. DOJ certainly
        might want to appeal that. That appeal could be won or lost.\",\"type\":\"text\"}]}]},\"userAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FJackC%2Fmetal-jacks-thumbnail.jpg?alt=media&token[...]
