interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.github.com/repos/bcongdon/PyManifold/issues/1
  response:
    body:
      string: '{"url":"https://api.github.com/repos/bcongdon/PyManifold/issues/1","repository_url":"https://api.github.com/repos/bcongdon/PyManifold","labels_url":"https://api.github.com/repos/bcongdon/PyManifold/issues/1/labels{/name}","comments_url":"https://api.github.com/repos/bcongdon/PyManifold/issues/1/comments","events_url":"https://api.github.com/repos/bcongdon/PyManifold/issues/1/events","html_url":"https://github.com/bcongdon/PyManifold/pull/1","id":1272872076,"node_id":"PR_kwDOHgeQxs45vZpG","number":1,"title":"Setup
        github action","user":{"login":"bcongdon","id":706257,"node_id":"MDQ6VXNlcjcwNjI1Nw==","avatar_url":"https://avatars.githubusercontent.com/u/706257?v=4","gravatar_id":"","url":"https://api.github.com/users/bcongdon","html_url":"https://github.com/bcongdon","followers_url":"https://api.github.com/users/bcongdon/followers","following_url":"https://api.github.com/users/bcongdon/following{/other_user}","gists_url":"https://api.github.com/users/bcongdon/gists{/gist_id}","starred_url":"https://api.github.com/users/bcongdon/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bcongdon/subscriptions","organizations_url":"https://api.github.com/users/bcongdon/orgs","repos_url":"https://api.github.com/users/bcongdon/repos","events_url":"https://api.github.com/users/bcongdon/events{/privacy}","received_events_url":"https://api.github.com/users/bcongdon/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2022-06-15T23:30:44Z","updated_at":"2022-06-15T23:40:48Z","closed_at":"2022-06-15T23:40:48Z","author_association":"OWNER","active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/bcongdon/PyManifold/pulls/1","html_url":"https://github.com/bcongdon/PyManifold/pull/1","diff_url":"https://github.com/bcongdon/PyManifold/pull/1.diff","patch_url":"https://github.com/bcongdon/PyManifold/pull/1.patch","merged_at":"2022-06-15T23:40:48Z"},"body_html":null,"body_text":null,"body":null,"closed_by":{"login":"bcongdon","id":706257,"node_id":"MDQ6VXNlcjcwNjI1Nw==","avatar_url":"https://avatars.githubusercontent.com/u/706257?v=4","gravatar_id":"","url":"https://api.github.com/users/bcongdon","html_url":"https://github.com/bcongdon","followers_url":"https://api.github.com/users/bcongdon/followers","following_url":"https://api.github.com/users/bcongdon/following{/other_user}","gists_url":"https://api.github.com/users/bcongdon/gists{/gist_id}","starred_url":"https://api.github.com/users/bcongdon/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bcongdon/subscriptions","organizations_url":"https://api.github.com/users/bcongdon/orgs","repos_url":"https://api.github.com/users/bcongdon/repos","events_url":"https://api.github.com/users/bcongdon/events{/privacy}","received_events_url":"https://api.github.com/users/bcongdon/received_events","type":"User","site_admin":false},"reactions":{"url":"https://api.github.com/repos/bcongdon/PyManifold/issues/1/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/bcongdon/PyManifold/issues/1/timeline","performed_via_github_app":null,"state_reason":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"874133d4ab1086747fc428acb5a4dc410901c87b19f782ece993b8c6e9c8654f"
      Last-Modified:
      - Wed, 07 Sep 2022 01:25:36 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; param=full; format=json
      X-OAuth-Scopes:
      - ''
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4897'
      X-RateLimit-Reset:
      - '1665777044'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '103'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.github.com/repos/bcongdon/PyManifold/pulls/1
  response:
    body:
      string: '{"url":"https://api.github.com/repos/bcongdon/PyManifold/pulls/1","id":968727110,"node_id":"PR_kwDOHgeQxs45vZpG","html_url":"https://github.com/bcongdon/PyManifold/pull/1","diff_url":"https://github.com/bcongdon/PyManifold/pull/1.diff","patch_url":"https://github.com/bcongdon/PyManifold/pull/1.patch","issue_url":"https://api.github.com/repos/bcongdon/PyManifold/issues/1","number":1,"state":"closed","locked":false,"title":"Setup
        github action","user":{"login":"bcongdon","id":706257,"node_id":"MDQ6VXNlcjcwNjI1Nw==","avatar_url":"https://avatars.githubusercontent.com/u/706257?v=4","gravatar_id":"","url":"https://api.github.com/users/bcongdon","html_url":"https://github.com/bcongdon","followers_url":"https://api.github.com/users/bcongdon/followers","following_url":"https://api.github.com/users/bcongdon/following{/other_user}","gists_url":"https://api.github.com/users/bcongdon/gists{/gist_id}","starred_url":"https://api.github.com/users/bcongdon/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bcongdon/subscriptions","organizations_url":"https://api.github.com/users/bcongdon/orgs","repos_url":"https://api.github.com/users/bcongdon/repos","events_url":"https://api.github.com/users/bcongdon/events{/privacy}","received_events_url":"https://api.github.com/users/bcongdon/received_events","type":"User","site_admin":false},"body":null,"created_at":"2022-06-15T23:30:44Z","updated_at":"2022-06-15T23:40:48Z","closed_at":"2022-06-15T23:40:48Z","merged_at":"2022-06-15T23:40:48Z","merge_commit_sha":"552c41b3eb06d00e5de7fc135a4cbdb788d1111a","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/bcongdon/PyManifold/pulls/1/commits","review_comments_url":"https://api.github.com/repos/bcongdon/PyManifold/pulls/1/comments","review_comment_url":"https://api.github.com/repos/bcongdon/PyManifold/pulls/comments{/number}","comments_url":"https://api.github.com/repos/bcongdon/PyManifold/issues/1/comments","statuses_url":"https://api.github.com/repos/bcongdon/PyManifold/statuses/72c7fb56730926bfa15c175566f24486f320d527","head":{"label":"bcongdon:feat/github-action","ref":"feat/github-action","sha":"72c7fb56730926bfa15c175566f24486f320d527","user":{"login":"bcongdon","id":706257,"node_id":"MDQ6VXNlcjcwNjI1Nw==","avatar_url":"https://avatars.githubusercontent.com/u/706257?v=4","gravatar_id":"","url":"https://api.github.com/users/bcongdon","html_url":"https://github.com/bcongdon","followers_url":"https://api.github.com/users/bcongdon/followers","following_url":"https://api.github.com/users/bcongdon/following{/other_user}","gists_url":"https://api.github.com/users/bcongdon/gists{/gist_id}","starred_url":"https://api.github.com/users/bcongdon/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bcongdon/subscriptions","organizations_url":"https://api.github.com/users/bcongdon/orgs","repos_url":"https://api.github.com/users/bcongdon/repos","events_url":"https://api.github.com/users/bcongdon/events{/privacy}","received_events_url":"https://api.github.com/users/bcongdon/received_events","type":"User","site_admin":false},"repo":{"id":503812294,"node_id":"R_kgDOHgeQxg","name":"PyManifold","full_name":"bcongdon/PyManifold","private":false,"owner":{"login":"bcongdon","id":706257,"node_id":"MDQ6VXNlcjcwNjI1Nw==","avatar_url":"https://avatars.githubusercontent.com/u/706257?v=4","gravatar_id":"","url":"https://api.github.com/users/bcongdon","html_url":"https://github.com/bcongdon","followers_url":"https://api.github.com/users/bcongdon/followers","following_url":"https://api.github.com/users/bcongdon/following{/other_user}","gists_url":"https://api.github.com/users/bcongdon/gists{/gist_id}","starred_url":"https://api.github.com/users/bcongdon/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bcongdon/subscriptions","organizations_url":"https://api.github.com/users/bcongdon/orgs","repos_url":"https://api.github.com/users/bcongdon/repos","events_url":"https://api.github.com/users/bcongdon/events{/privacy}","received_events_url":"https://api.github.com/users/bcongdon/received_events","type":"User","site_admin":false},"html_url":"https://github.com/bcongdon/PyManifold","description":"Python
        API client for Manifold Markets","fork":false,"url":"https://api.github.com/repos/bcongdon/PyManifold","forks_url":"https://api.github.com/repos/bcongdon/PyManifold/forks","keys_url":"https://api.github.com/repos/bcongdon/PyManifold/keys{/key_id}","collaborators_url":"https://api.github.com/repos/bcongdon/PyManifold/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/bcongdon/PyManifold/teams","hooks_url":"https://api.github.com/repos/bcongdon/PyManifold/hooks","issue_events_url":"https://api.github.com/repos/bcongdon/PyManifold/issues/events{/number}","events_url":"https://api.github.com/repos/bcongdon/PyManifold/events","assignees_url":"https://api.github.com/repos/bcongdon/PyManifold/assignees{/user}","branches_url":"https://api.github.com/repos/bcongdon/PyManifold/branches{/branch}","tags_url":"https://api.github.com/repos/bcongdon/PyManifold/tags","blobs_url":"https://api.github.com/repos/bcongdon/PyManifold/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/bcongdon/PyManifold/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/bcongdon/PyManifold/git/refs{/sha}","trees_url":"https://api.github.com/repos/bcongdon/PyManifold/git/trees{/sha}","statuses_url":"https://api.github.com/repos/bcongdon/PyManifold/statuses/{sha}","languages_url":"https://api.github.com/repos/bcongdon/PyManifold/languages","stargazers_url":"https://api.github.com/repos/bcongdon/PyManifold/stargazers","contributors_url":"https://api.github.com/repos/bcongdon/PyManifold/contributors","subscribers_url":"https://api.github.com/repos/bcongdon/PyManifold/subscribers","subscription_url":"https://api.github.com/repos/bcongdon/PyManifold/subscription","commits_url":"https://api.github.com/repos/bcongdon/PyManifold/commits{/sha}","git_commits_url":"https://api.github.com/repos/bcongdon/PyManifold/git/commits{/sha}","comments_url":"https://api.github.com/repos/bcongdon/PyManifold/comments{/number}","issue_comment_url":"https://api.github.com/repos/bcongdon/PyManifold/issues/comments{/number}","contents_url":"https://api.github.com/repos/bcongdon/PyManifold/contents/{+path}","compare_url":"https://api.github.com/repos/bcongdon/PyManifold/compare/{base}...{head}","merges_url":"https://api.github.com/repos/bcongdon/PyManifold/merges","archive_url":"https://api.github.com/repos/bcongdon/PyManifold/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/bcongdon/PyManifold/downloads","issues_url":"https://api.github.com/repos/bcongdon/PyManifold/issues{/number}","pulls_url":"https://api.github.com/repos/bcongdon/PyManifold/pulls{/number}","milestones_url":"https://api.github.com/repos/bcongdon/PyManifold/milestones{/number}","notifications_url":"https://api.github.com/repos/bcongdon/PyManifold/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/bcongdon/PyManifold/labels{/name}","releases_url":"https://api.github.com/repos/bcongdon/PyManifold/releases{/id}","deployments_url":"https://api.github.com/repos/bcongdon/PyManifold/deployments","created_at":"2022-06-15T14:59:23Z","updated_at":"2022-10-12T03:48:03Z","pushed_at":"2022-10-12T06:08:06Z","git_url":"git://github.com/bcongdon/PyManifold.git","ssh_url":"git@github.com:bcongdon/PyManifold.git","clone_url":"https://github.com/bcongdon/PyManifold.git","svn_url":"https://github.com/bcongdon/PyManifold","homepage":null,"size":389,"stargazers_count":5,"watchers_count":5,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":2,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":2,"open_issues":1,"watchers":5,"default_branch":"main"}},"base":{"label":"bcongdon:main","ref":"main","sha":"0c0355b098e1f337265ca853dad2390c30cd07d2","user":{"login":"bcongdon","id":706257,"node_id":"MDQ6VXNlcjcwNjI1Nw==","avatar_url":"https://avatars.githubusercontent.com/u/706257?v=4","gravatar_id":"","url":"https://api.github.com/users/bcongdon","html_url":"https://github.com/bcongdon","followers_url":"https://api.github.com/users/bcongdon/followers","following_url":"https://api.github.com/users/bcongdon/following{/other_user}","gists_url":"https://api.g[...]
