interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/market/gCFMraDRTKwOr2l7zzJF
  response:
    body:
      string: "{\"id\":\"gCFMraDRTKwOr2l7zzJF\",\"creatorId\":\"pXiyYYCYDqg8LEwRgPP5aqw0sdD3\",\"creatorUsername\":\"apartresearch\",\"creatorName\":\"Apart
        Research\",\"createdTime\":1653159664431,\"creatorAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fkran%2FO31QzUnSll.png?alt=media&token=b2c86d16-a6a2-47af-80a7-b6fb3ae10762\",\"closeTime\":1704171540000,\"question\":\"Will
        the European Union have an official army by 2024?\",\"tags\":[\"world\"],\"url\":\"https://manifold.markets/apartresearch/will-the-european-union-have-an-off\",\"pool\":{\"NO\":36.23072726412912,\"YES\":303.5197412702499},\"probability\":0.10519257318090636,\"p\":0.4961808859323743,\"totalLiquidity\":102.01201290206842,\"outcomeType\":\"BINARY\",\"mechanism\":\"cpmm-1\",\"volume\":567.1729529947955,\"volume7Days\":1,\"volume24Hours\":0,\"isResolved\":false,\"lastUpdatedTime\":1665025627627,\"comments\":[],\"bets\":[{\"probAfter\":0.10519257318090636,\"userUsername\":\"v\",\"userName\":\"Velocity\",\"isRedemption\":true,\"probBefore\":0.10519257318090636,\"loanAmount\":-0.08744646788779353,\"amount\":-8.724118075433745,\"outcome\":\"NO\",\"id\":\"w3BuvLKIfv8IL8ynQKYZ\",\"userAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fv%2FjrWCCgX7WR.jpg?alt=media&token=8061788f-a243-421e-9e09-cf7e2747c9c1\",\"contractId\":\"gCFMraDRTKwOr2l7zzJF\",\"createdTime\":1665025627349,\"userId\":\"w1knZ6yBvEhRThYPEYTwlmGv7N33\",\"shares\":-9.749715764482062,\"fees\":{\"platformFee\":0,\"liquidityFee\":0,\"creatorFee\":0}},{\"contractId\":\"gCFMraDRTKwOr2l7zzJF\",\"userAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fv%2FjrWCCgX7WR.jpg?alt=media&token=8061788f-a243-421e-9e09-cf7e2747c9c1\",\"createdTime\":1665025627349,\"fees\":{\"liquidityFee\":0,\"platformFee\":0,\"creatorFee\":0},\"userUsername\":\"v\",\"userId\":\"w1knZ6yBvEhRThYPEYTwlmGv7N33\",\"loanAmount\":-0.08744646788779353,\"userName\":\"Velocity\",\"isRedemption\":true,\"id\":\"mJZM9oqzFqH94RDLng4v\",\"shares\":-9.749715764482062,\"probAfter\":0.10519257318090636,\"probBefore\":0.10519257318090636,\"outcome\":\"YES\",\"amount\":-1.0255976890483156},{\"limitProb\":0.11,\"outcome\":\"YES\",\"id\":\"3f7EIjq9vio9FpSkbpNy\",\"userAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fv%2FjrWCCgX7WR.jpg?alt=media&token=8061788f-a243-421e-9e09-cf7e2747c9c1\",\"contractId\":\"gCFMraDRTKwOr2l7zzJF\",\"userUsername\":\"v\",\"probAfter\":0.10519257318090636,\"probBefore\":0.09999999999999994,\"amount\":1,\"isCancelled\":true,\"loanAmount\":0,\"fills\":[{\"matchedBetId\":null,\"amount\":1,\"timestamp\":1665025627021,\"shares\":9.749715764482062}],\"shares\":9.749715764482062,\"createdTime\":1665025627021,\"userName\":\"Velocity\",\"orderAmount\":1,\"userId\":\"w1knZ6yBvEhRThYPEYTwlmGv7N33\",\"isFilled\":true,\"fees\":{\"liquidityFee\":0,\"platformFee\":0,\"creatorFee\":0}},{\"createdTime\":1664959820149,\"shares\":0,\"contractId\":\"gCFMraDRTKwOr2l7zzJF\",\"fills\":[],\"outcome\":\"NO\",\"userName\":\"Velocity\",\"loanAmount\":0,\"userAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fv%2FjrWCCgX7WR.jpg?alt=media&token=8061788f-a243-421e-9e09-cf7e2747c9c1\",\"userId\":\"w1knZ6yBvEhRThYPEYTwlmGv7N33\",\"fees\":{\"platformFee\":0,\"liquidityFee\":[...]
