interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.github.com/repos/bcongdon/PyManifold/issues/2
  response:
    body:
      string: '{"url":"https://api.github.com/repos/bcongdon/PyManifold/issues/2","repository_url":"https://api.github.com/repos/bcongdon/PyManifold","labels_url":"https://api.github.com/repos/bcongdon/PyManifold/issues/2/labels{/name}","comments_url":"https://api.github.com/repos/bcongdon/PyManifold/issues/2/comments","events_url":"https://api.github.com/repos/bcongdon/PyManifold/issues/2/events","html_url":"https://github.com/bcongdon/PyManifold/pull/2","id":1308811788,"node_id":"PR_kwDOHgeQxs47nT_K","number":2,"title":"Add
        answers to multichoice, add method to resolve, a bunch more","user":{"login":"LivInTheLookingGlass","id":1554778,"node_id":"MDQ6VXNlcjE1NTQ3Nzg=","avatar_url":"https://avatars.githubusercontent.com/u/1554778?v=4","gravatar_id":"","url":"https://api.github.com/users/LivInTheLookingGlass","html_url":"https://github.com/LivInTheLookingGlass","followers_url":"https://api.github.com/users/LivInTheLookingGlass/followers","following_url":"https://api.github.com/users/LivInTheLookingGlass/following{/other_user}","gists_url":"https://api.github.com/users/LivInTheLookingGlass/gists{/gist_id}","starred_url":"https://api.github.com/users/LivInTheLookingGlass/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/LivInTheLookingGlass/subscriptions","organizations_url":"https://api.github.com/users/LivInTheLookingGlass/orgs","repos_url":"https://api.github.com/users/LivInTheLookingGlass/repos","events_url":"https://api.github.com/users/LivInTheLookingGlass/events{/privacy}","received_events_url":"https://api.github.com/users/LivInTheLookingGlass/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":6,"created_at":"2022-07-18T23:51:16Z","updated_at":"2022-10-14T18:55:26Z","closed_at":null,"author_association":"NONE","active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/bcongdon/PyManifold/pulls/2","html_url":"https://github.com/bcongdon/PyManifold/pull/2","diff_url":"https://github.com/bcongdon/PyManifold/pull/2.diff","patch_url":"https://github.com/bcongdon/PyManifold/pull/2.patch","merged_at":null},"body_html":null,"body_text":null,"body":null,"closed_by":{"login":"LivInTheLookingGlass","id":1554778,"node_id":"MDQ6VXNlcjE1NTQ3Nzg=","avatar_url":"https://avatars.githubusercontent.com/u/1554778?v=4","gravatar_id":"","url":"https://api.github.com/users/LivInTheLookingGlass","html_url":"https://github.com/LivInTheLookingGlass","followers_url":"https://api.github.com/users/LivInTheLookingGlass/followers","following_url":"https://api.github.com/users/LivInTheLookingGlass/following{/other_user}","gists_url":"https://api.github.com/users/LivInTheLookingGlass/gists{/gist_id}","starred_url":"https://api.github.com/users/LivInTheLookingGlass/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/LivInTheLookingGlass/subscriptions","organizations_url":"https://api.github.com/users/LivInTheLookingGlass/orgs","repos_url":"https://api.github.com/users/LivInTheLookingGlass/repos","events_url":"https://api.github.com/users/LivInTheLookingGlass/events{/privacy}","received_events_url":"https://api.github.com/users/LivInTheLookingGlass/received_events","type":"User","site_admin":false},"reactions":{"url":"https://api.github.com/repos/bcongdon/PyManifold/issues/2/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/bcongdon/PyManifold/issues/2/timeline","performed_via_github_app":null,"state_reason":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"24d4b5317adaf9d775935a675654b0ab38da36333a5ac1711b329d41eb15c55e"
      Last-Modified:
      - Fri, 14 Oct 2022 18:55:26 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; param=full; format=json
      X-OAuth-Scopes:
      - ''
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4980'
      X-RateLimit-Reset:
      - '1665780865'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '20'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.github.com/repos/bcongdon/PyManifold/pulls/2
  response:
    body:
      string: '{"url":"https://api.github.com/repos/bcongdon/PyManifold/pulls/2","id":1000161226,"node_id":"PR_kwDOHgeQxs47nT_K","html_url":"https://github.com/bcongdon/PyManifold/pull/2","diff_url":"https://github.com/bcongdon/PyManifold/pull/2.diff","patch_url":"https://github.com/bcongdon/PyManifold/pull/2.patch","issue_url":"https://api.github.com/repos/bcongdon/PyManifold/issues/2","number":2,"state":"open","locked":false,"title":"Add
        answers to multichoice, add method to resolve, a bunch more","user":{"login":"LivInTheLookingGlass","id":1554778,"node_id":"MDQ6VXNlcjE1NTQ3Nzg=","avatar_url":"https://avatars.githubusercontent.com/u/1554778?v=4","gravatar_id":"","url":"https://api.github.com/users/LivInTheLookingGlass","html_url":"https://github.com/LivInTheLookingGlass","followers_url":"https://api.github.com/users/LivInTheLookingGlass/followers","following_url":"https://api.github.com/users/LivInTheLookingGlass/following{/other_user}","gists_url":"https://api.github.com/users/LivInTheLookingGlass/gists{/gist_id}","starred_url":"https://api.github.com/users/LivInTheLookingGlass/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/LivInTheLookingGlass/subscriptions","organizations_url":"https://api.github.com/users/LivInTheLookingGlass/orgs","repos_url":"https://api.github.com/users/LivInTheLookingGlass/repos","events_url":"https://api.github.com/users/LivInTheLookingGlass/events{/privacy}","received_events_url":"https://api.github.com/users/LivInTheLookingGlass/received_events","type":"User","site_admin":false},"body":null,"created_at":"2022-07-18T23:51:16Z","updated_at":"2022-10-14T18:55:26Z","closed_at":null,"merged_at":null,"merge_commit_sha":"e99b060ce757f05a27fb19d4ba28b73fd9bfa818","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/bcongdon/PyManifold/pulls/2/commits","review_comments_url":"https://api.github.com/repos/bcongdon/PyManifold/pulls/2/comments","review_comment_url":"https://api.github.com/repos/bcongdon/PyManifold/pulls/comments{/number}","comments_url":"https://api.github.com/repos/bcongdon/PyManifold/issues/2/comments","statuses_url":"https://api.github.com/repos/bcongdon/PyManifold/statuses/48416f3f7e01654b2cce776b57bc714e84f0de09","head":{"label":"LivInTheLookingGlass:main","ref":"main","sha":"48416f3f7e01654b2cce776b57bc714e84f0de09","user":{"login":"LivInTheLookingGlass","id":1554778,"node_id":"MDQ6VXNlcjE1NTQ3Nzg=","avatar_url":"https://avatars.githubusercontent.com/u/1554778?v=4","gravatar_id":"","url":"https://api.github.com/users/LivInTheLookingGlass","html_url":"https://github.com/LivInTheLookingGlass","followers_url":"https://api.github.com/users/LivInTheLookingGlass/followers","following_url":"https://api.github.com/users/LivInTheLookingGlass/following{/other_user}","gists_url":"https://api.github.com/users/LivInTheLookingGlass/gists{/gist_id}","starred_url":"https://api.github.com/users/LivInTheLookingGlass/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/LivInTheLookingGlass/subscriptions","organizations_url":"https://api.github.com/users/LivInTheLookingGlass/orgs","repos_url":"https://api.github.com/users/LivInTheLookingGlass/repos","events_url":"https://api.github.com/users/LivInTheLookingGlass/events{/privacy}","received_events_url":"https://api.github.com/users/LivInTheLookingGlass/received_events","type":"User","site_admin":false},"repo":{"id":513711377,"node_id":"R_kgDOHp6dEQ","name":"PyManifold","full_name":"LivInTheLookingGlass/PyManifold","private":false,"owner":{"login":"LivInTheLookingGlass","id":1554778,"node_id":"MDQ6VXNlcjE1NTQ3Nzg=","avatar_url":"https://avatars.githubusercontent.com/u/1554778?v=4","gravatar_id":"","url":"https://api.github.com/users/LivInTheLookingGlass","html_url":"https://github.com/LivInTheLookingGlass","followers_url":"https://api.github.com/users/LivInTheLookingGlass/followers","following_url":"https://api.github.com/users/LivInTheLookingGlass/following{/other_user}","gists_url":"https://api.github.com/users/LivInTheLookingGlass/gists{/gist_id}","starred_url":"https://api.github.com/users/LivInTheLookingGlass/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/LivInTheLookingGlass/subscriptions","organizations_url":"https://api.github.com/users/LivInTheLookingGlass/orgs","repos_url":"https://api.github.com/users/LivInTheLookingGlass/repos","events_url":"https://api.github.com/users/LivInTheLookingGlass/events{/privacy}","received_events_url":"https://api.github.com/users/LivInTheLookingGlass/received_events","type":"User","site_admin":false},"html_url":"https://github.com/LivInTheLookingGlass/PyManifold","description":"Python
        API client for Manifold Markets","fork":true,"url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold","forks_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/forks","keys_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/keys{/key_id}","collaborators_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/teams","hooks_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/hooks","issue_events_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/issues/events{/number}","events_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/events","assignees_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/assignees{/user}","branches_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/branches{/branch}","tags_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/tags","blobs_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/git/refs{/sha}","trees_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/git/trees{/sha}","statuses_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/statuses/{sha}","languages_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/languages","stargazers_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/stargazers","contributors_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/contributors","subscribers_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/subscribers","subscription_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/subscription","commits_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/commits{/sha}","git_commits_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/git/commits{/sha}","comments_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/comments{/number}","issue_comment_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/issues/comments{/number}","contents_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/contents/{+path}","compare_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/compare/{base}...{head}","merges_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/merges","archive_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/downloads","issues_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/issues{/number}","pulls_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/pulls{/number}","milestones_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/milestones{/number}","notifications_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/labels{/name}","releases_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/releases{/id}","deployments_url":"https://api.github.com/repos/LivInTheLookingGlass/PyManifold/deployments","created_at":"2022-07-14T00:37:49Z","updated_at":"2022-10-10T23:49:27Z","pushed_at":"2022-10-14T18:49:28Z","git_url":"git://github.com/LivInTheLookingGlass/PyManifold.git","ssh_url":"git@github.com:LivInTheLookingGlass/PyManifold.git","clone_url":"https://github.com/LivInTheLookingGlass/PyManifold.git","svn_url":"https://github.com/LivInTheLookingGlass/PyManifold","homepage":null,"size":1454,"stargazers_count":1,"watchers_count":1,"language":"Python","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":1,"default_branch":"main"}},"base":{"label":"bcongdon:main","ref":"main","sha":"a5cd01d0403492b813b44cae008e7d950ded41d1","user":{"login":"bcongdon","id":706257,"node_id":"MDQ6VXNlcjcwNjI1Nw==","avatar_url":"https://avatars.githubusercontent.com/u/706257?v=4","gravatar_id":"","url":"https://api.github.com/users/bcongdon","html_url":"https://github.com/bcongdon","followers_url":"https://api.github.com/users/bcongdon/followers","following_url":"https://api.github.com/users/bcongdon/following{/other_user}","gists_url":"https://api.g[...]
