interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.github.com/repos/bcongdon/PyManifold/issues/3
  response:
    body:
      string: '{"url":"https://api.github.com/repos/bcongdon/PyManifold/issues/3","repository_url":"https://api.github.com/repos/bcongdon/PyManifold","labels_url":"https://api.github.com/repos/bcongdon/PyManifold/issues/3/labels{/name}","comments_url":"https://api.github.com/repos/bcongdon/PyManifold/issues/3/comments","events_url":"https://api.github.com/repos/bcongdon/PyManifold/issues/3/events","html_url":"https://github.com/bcongdon/PyManifold/pull/3","id":1309696254,"node_id":"PR_kwDOHgeQxs47qQdS","number":3,"title":"Adds
        a method that returns the Kelly bet for a market","user":{"login":"JonathanNankivell","id":77177602,"node_id":"MDQ6VXNlcjc3MTc3NjAy","avatar_url":"https://avatars.githubusercontent.com/u/77177602?v=4","gravatar_id":"","url":"https://api.github.com/users/JonathanNankivell","html_url":"https://github.com/JonathanNankivell","followers_url":"https://api.github.com/users/JonathanNankivell/followers","following_url":"https://api.github.com/users/JonathanNankivell/following{/other_user}","gists_url":"https://api.github.com/users/JonathanNankivell/gists{/gist_id}","starred_url":"https://api.github.com/users/JonathanNankivell/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/JonathanNankivell/subscriptions","organizations_url":"https://api.github.com/users/JonathanNankivell/orgs","repos_url":"https://api.github.com/users/JonathanNankivell/repos","events_url":"https://api.github.com/users/JonathanNankivell/events{/privacy}","received_events_url":"https://api.github.com/users/JonathanNankivell/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2022-07-19T15:30:23Z","updated_at":"2022-07-23T23:10:25Z","closed_at":"2022-07-23T23:10:25Z","author_association":"CONTRIBUTOR","active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/bcongdon/PyManifold/pulls/3","html_url":"https://github.com/bcongdon/PyManifold/pull/3","diff_url":"https://github.com/bcongdon/PyManifold/pull/3.diff","patch_url":"https://github.com/bcongdon/PyManifold/pull/3.patch","merged_at":"2022-07-23T23:10:25Z"},"body_html":"<p
        dir=\"auto\">The standard formula for the Kelly bet assumes that the odds
        are fixed. This is equivalent to assuming infinite liquidity - hardly reasonable
        when it comes to Manifold Markets.</p>\n<p dir=\"auto\">Naively using the
        standard Kelly formula may lead to ruin and despair as it overestimates the
        number of shares a bet will buy.</p>\n<p dir=\"auto\">It''s not hard, however,
        to calculate the number of shares we will actually buy. It is then easy to
        find the true Kelly bet.</p>","body_text":"The standard formula for the Kelly
        bet assumes that the odds are fixed. This is equivalent to assuming infinite
        liquidity - hardly reasonable when it comes to Manifold Markets.\nNaively
        using the standard Kelly formula may lead to ruin and despair as it overestimates
        the number of shares a bet will buy.\nIt''s not hard, however, to calculate
        the number of shares we will actually buy. It is then easy to find the true
        Kelly bet.","body":"The standard formula for the Kelly bet assumes that the
        odds are fixed. This is equivalent to assuming infinite liquidity - hardly
        reasonable when it comes to Manifold Markets.\r\n\r\nNaively using the standard
        Kelly formula may lead to ruin and despair as it overestimates the number
        of shares a bet will buy. \r\n\r\nIt''s not hard, however, to calculate the
        number of shares we will actually buy. It is then easy to find the true Kelly
        bet.","closed_by":{"login":"bcongdon","id":706257,"node_id":"MDQ6VXNlcjcwNjI1Nw==","avatar_url":"https://avatars.githubusercontent.com/u/706257?v=4","gravatar_id":"","url":"https://api.github.com/users/bcongdon","html_url":"https://github.com/bcongdon","followers_url":"https://api.github.com/users/bcongdon/followers","following_url":"https://api.github.com/users/bcongdon/following{/other_user}","gists_url":"https://api.github.com/users/bcongdon/gists{/gist_id}","starred_url":"https://api.github.com/users/bcongdon/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bcongdon/subscriptions","organizations_url":"https://api.github.com/users/bcongdon/orgs","repos_url":"https://api.github.com/users/bcongdon/repos","events_url":"https://api.github.com/users/bcongdon/events{/privacy}","received_events_url":"https://api.github.com/users/bcongdon/received_events","type":"User","site_admin":false},"reactions":{"url":"https://api.github.com/repos/bcongdon/PyManifold/issues/3/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/bcongdon/PyManifold/issues/3/timeline","performed_via_github_app":null,"state_reason":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f25602ad361f5271b83ecb80d421ea612dec2ded08929abd642461bbc1b9c2bb"
      Last-Modified:
      - Sat, 01 Oct 2022 17:15:36 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; param=full; format=json
      X-OAuth-Scopes:
      - ''
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4977'
      X-RateLimit-Reset:
      - '1665780865'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '23'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.github.com/repos/bcongdon/PyManifold/pulls/3
  response:
    body:
      string: '{"url":"https://api.github.com/repos/bcongdon/PyManifold/pulls/3","id":1000933202,"node_id":"PR_kwDOHgeQxs47qQdS","html_url":"https://github.com/bcongdon/PyManifold/pull/3","diff_url":"https://github.com/bcongdon/PyManifold/pull/3.diff","patch_url":"https://github.com/bcongdon/PyManifold/pull/3.patch","issue_url":"https://api.github.com/repos/bcongdon/PyManifold/issues/3","number":3,"state":"closed","locked":false,"title":"Adds
        a method that returns the Kelly bet for a market","user":{"login":"JonathanNankivell","id":77177602,"node_id":"MDQ6VXNlcjc3MTc3NjAy","avatar_url":"https://avatars.githubusercontent.com/u/77177602?v=4","gravatar_id":"","url":"https://api.github.com/users/JonathanNankivell","html_url":"https://github.com/JonathanNankivell","followers_url":"https://api.github.com/users/Jonath[...]
