interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/market/VFXzjLOLH8WM64Cm37GK
  response:
    body:
      string: '{"id":"VFXzjLOLH8WM64Cm37GK","creatorId":"k13AzY3mu8XTju3xRZV3P8qBjEC2","creatorUsername":"LivInTheLookingGlass","creatorName":"Olivia","createdTime":1664128363133,"creatorAvatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97","closeTime":1664158393009,"question":"This
        market is a mirror of another market","tags":[],"url":"https://manifold.markets/LivInTheLookingGlass/this-market-is-a-mirror-of-another","pool":{"YES":106.19131671036415,"NO":94.1696582148511},"probability":0.47,"p":0.5000000000000003,"totalLiquidity":100,"outcomeType":"BINARY","mechanism":"cpmm-1","volume":544.297205717224,"volume7Days":0,"volume24Hours":0,"isResolved":true,"resolution":"NO","resolutionTime":1664158393009,"lastUpdatedTime":1664158450962,"comments":[{"userId":"k13AzY3mu8XTju3xRZV3P8qBjEC2","commentType":"contract","userName":"Olivia","userAvatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97","content":{"content":[{"type":"paragraph","content":[{"type":"mention","attrs":{"id":"03V6q7cnumjA5W25dATt","label":"MichaelWheatley"}},{"type":"text","text":"
        yup. I need to look at a MKT example next to try and reverse engineer this
        in every detail I can manage"}]}],"type":"doc"},"commenterPositionProb":0.47,"contractQuestion":"This
        market is a mirror of another market","contractId":"VFXzjLOLH8WM64Cm37GK","userUsername":"LivInTheLookingGlass","contractSlug":"this-market-is-a-mirror-of-another","commenterPositionShares":0,"replyToCommentId":"IqTGlsueIXMuTuQG9O15","id":"R16c7cPNPJ3AFNW3j5V2","createdTime":1664158447458,"commenterPositionOutcome":"NO"},{"betAmount":-32.714672394959706,"betId":"g2nxhm5JdRjOjqI7kCVL","createdTime":1664147347966,"userAvatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FMichaelWheatley%2FUntitled-1.png?alt=media&token=c762196e-85d0-4f0c-961a-e3a80d736c9b","contractQuestion":"This
        market is a mirror of another market","contractSlug":"this-market-is-a-mirror-of-another","content":{"content":[{"type":"paragraph","content":[{"attrs":{"label":"LivInTheLookingGlass","id":"e7YoKFyLvlGKI4x6VrmK"},"type":"mention"},{"type":"text","text":"
        Well the market''s resolved, and it''s listing \".probability\" as 72%. But
        you can always make your bot resolve based on whether \".resolution\" is \"YES\"
        or \"NO\", right?"}]}],"type":"doc"},"commenterPositionShares":0,"commentType":"contract","replyToCommentId":"IqTGlsueIXMuTuQG9O15","betOutcome":"NO","userName":"Michael
        Wheatley","userId":"jO7sUhIDTQbAJ3w86akzncTlpRG2","commenterPositionProb":0.47,"contractId":"VFXzjLOLH8WM64Cm37GK","userUsername":"MichaelWheatley","commenterPositionOutcome":"NO","id":"03V6q7cnumjA5W25dATt"},{"content":{"content":[{"content":[{"type":"mention","attrs":{"id":"IqTGlsueIXMuTuQG9O15","label":"MichaelWheatley"}},{"type":"text","text":"
        the goal is to resolve the same, I am just not entirely sure how their API
        will report it. This give[...]
