interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/slug/my-partner-and-i-are-considering-mo
  response:
    body:
      string: "{\"id\":\"opaEWymtuX61FK2gKwXL\",\"creatorId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"creatorUsername\":\"LivInTheLookingGlass\",\"creatorName\":\"Olivia\",\"createdTime\":1663625336474,\"creatorAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"closeTime\":1664596740000,\"question\":\"My
        partner and I are considering moving soon.  Where should we consider?\",\"tags\":[],\"url\":\"https://manifold.markets/LivInTheLookingGlass/my-partner-and-i-are-considering-mo\",\"pool\":{\"0\":100,\"1\":25,\"2\":1,\"3\":2,\"4\":6,\"5\":12,\"6\":2,\"7\":1,\"8\":8.028166220647933,\"9\":1,\"10\":1,\"11\":2,\"12\":5,\"13\":5,\"14\":1},\"outcomeType\":\"FREE_RESPONSE\",\"mechanism\":\"dpm-2\",\"volume\":75.97183377935207,\"volume7Days\":0,\"volume24Hours\":0,\"isResolved\":true,\"resolution\":\"MKT\",\"resolutionTime\":1665548972193,\"lastUpdatedTime\":1665549008908,\"answers\":[{\"createdTime\":1663625351697,\"userId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"username\":\"LivInTheLookingGlass\",\"name\":\"Olivia\",\"contractId\":\"opaEWymtuX61FK2gKwXL\",\"number\":1,\"avatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"id\":\"1\",\"text\":\"Greater
        Chicago\",\"probability\":0.26100396143128424},{\"username\":\"LivInTheLookingGlass\",\"number\":2,\"avatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"id\":\"2\",\"userId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"name\":\"Olivia\",\"text\":\"Vancouver,
        Canada\",\"contractId\":\"opaEWymtuX61FK2gKwXL\",\"createdTime\":1663625366278,\"probability\":0.006859570407866334},{\"id\":\[...]
