interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/user/LivInTheLookingGlass
  response:
    body:
      string: '{"id":"k13AzY3mu8XTju3xRZV3P8qBjEC2","createdTime":1648011015371,"name":"Olivia","username":"LivInTheLookingGlass","url":"https://manifold.markets/LivInTheLookingGlass","avatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97","bio":"Computer
        Science & Engineering PhD student who likes testing her predictive skill.
        I also operate @MarketManagerBot, map on OpenStreetMap, and occasionally post
        on Mastodon @LivInTheLookingGlass@mastodon.social","website":"https://mastodon.social/@LivInTheLookingGlass","twitterHandle":"","balance":24.328893216088005,"totalDeposits":8355.897013412578,"profitCached":{"allTime":6131.776489376594,"monthly":2374.385642135074,"weekly":496.933697342356,"daily":177.9272442400179},"creatorVolumeCached":{"monthly":12540.906372343215,"daily":790.9647473532227,"weekly":4484.343023585168,"allTime":62890.969107217374}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bgzv2oyfrxr6"'
      X-Matched-Path:
      - /api/v0/user/[username]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::cle1::wmdx6-1665272984743-01733d325ed6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/user/LivInTheLookingGlass
  response:
    body:
      string: '{"id":"k13AzY3mu8XTju3xRZV3P8qBjEC2","createdTime":1648011015371,"name":"Olivia","username":"LivInTheLookingGlass","url":"https://manifold.markets/LivInTheLookingGlass","avatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97","bio":"Computer
        Science & Engineering PhD student who likes testing her predictive skill.
        I also operate @MarketManagerBot, map on OpenStreetMap, and occasionally post
        on Mastodon @LivInTheLookingGlass@mastodon.social","website":"https://mastodon.social/@LivInTheLookingGlass","twitterHandle":"","balance":24.328893216088005,"totalDeposits":8355.897013412578,"profitCached":{"weekly":496.933697342356,"monthly":2374.385642135074,"daily":177.9272442400179,"allTime":6131.776489376594},"creatorVolumeCached":{"daily":790.9647473532227,"weekly":4484.343023585168,"allTime":62890.969107217374,"monthly":12540.906372343215}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"x5wi8ntk0dr6"'
      X-Matched-Path:
      - /api/v0/user/[username]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::cle1::tfj52-1665272985502-31adda40082e
    status:
      code: 200
      message: OK
version: 1
