interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/slug/what-will-my-reported-profit-be-on
  response:
    body:
      string: '{"id":"eBuljtDFa2dR7bXSaYyY","creatorId":"k13AzY3mu8XTju3xRZV3P8qBjEC2","creatorUsername":"LivInTheLookingGlass","creatorName":"Olivia","createdTime":1663099416258,"creatorAvatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97","closeTime":1664553599000,"question":"What
        will my reported profit be on 2022-10-01?","tags":[],"url":"https://manifold.markets/LivInTheLookingGlass/what-will-my-reported-profit-be-on","pool":{"NO":180.86906735841671,"YES":55.288613725107865},"p":0.5000000000000003,"totalLiquidity":100,"outcomeType":"PSEUDO_NUMERIC","mechanism":"cpmm-1","volume":118.73964574180756,"volume7Days":37.96000031414002,"volume24Hours":0,"isResolved":true,"resolution":"MKT","resolutionTime":1664604205925,"resolutionProbability":0.8828819049998092,"lastUpdatedTime":1664552619255,"min":2000,"max":6000,"isLogScale":false,"comments":[],"bets":[{"userAvatarUrl":"https://lh3.googleusercontent.com/a/ALm5wu0WQuo75x-R75TTdnukoDCjT8jmSZyGzWlhxN6f=s96-c","userName":"Tiger
        Lava Lamp","outcome":"NO","createdTime":1664552619002,"contractId":"eBuljtDFa2dR7bXSaYyY","isRedemption":true,"userId":"T5IuPIXaMjT5alEDZrSIaNrYcS72","shares":-2.833942227270846,"fees":{"platformFee":0,"creatorFee":0,"liquidityFee":0},"amount":-0.6634750832746915,"loanAmount":0,"userUsername":"Dacaveofwonders","id":"j8RGCp302R8EeiZNa8qs","probBefore":0.765882636247799,"probAfter":0.765882636247799},{"outcome":"YES","userAvatarUrl":"https://lh3.googleusercontent.com/a/ALm5wu0WQuo75x-R75TTdnukoDCjT8jmSZyGzWlhxN6f=s96-c","amount":-2.1704671439961545,"userId":"T5IuPIXaMjT5alEDZrSIaNrYcS72","userName":"Tiger
        Lava Lamp","shares":-2.833942227270846,"loanAmount":0,"createdTime":1664552619002,"isRedemption":true,"fees":{"creatorFee":0,"platformFee":0,"liquidityFee":0},"probAfter":0.765882636247799,"userUsername":"Dacaveofwonders","contractId":"eBuljtDFa2dR7bXSaYyY","id":"K139ANATzDLyIsdWclws","probBefore":0.765882636247799},{"amount":28,"userId":"yAPO0lFCr0VYiIosymUdZgbTxnC2","userUsername":"phaen","probBefore":0.76,"fees":{"creatorFee":0,"platformFee":0,"liquidityFee":0},"probAfter":0.765882636247799,"orderAmount":28,"fills":[{"timestamp":1664552618685,"shares":1.6132785380495207,"matchedBetId":null,"amount":1.2281119105223226},{"timestamp":1664552618685,"shares":32.89473684210526,"amount":25.08223684210526,"matchedBetId":"V8VaSvzjL47F0gaWzN7U"},{"timestamp":1664552618685,"matchedBetId":null,"amount":1.6896512473724172,"shares":2.2110195896390508}],"shares":36.71903496979383,"userAvatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fphaen%2F32.png?alt=media&token=0a0a4a63-889a-4705-a9a0-90cebc102691","loanAmount":0,"outcome":"YES","createdTime":1664552618685,"isFilled":true,"isCancelled":false,"contractId":"eBuljtDFa2dR7bXSaYyY","userName":"phaen","id":"aeKAHOgHQLPBiLB4nDE3"},{"userId":"T5IuPIXaMjT5alEDZrSIaNrYcS72","contractId":"eBuljtDFa2dR7bXSaYyY","isCancelled":false,"createdTime":1664544305946,"userAvatarUrl":"https://lh3.googleusercontent.com/a/ALm5wu0WQuo75x-R75TTdnukoDCjT8jmSZyGzWlhxN6f=s96-c","limitProb":0.76,"probBefore":0.7555429263979957,"loanAmount":0,"probAfter":0.76,"id":"P2PIMTivA14vVZTknVM3","userUsername":"Dacaveofwonders","amount":2.147500314140016,"outcome":"YES","userName":"Tiger
        Lava Lamp","fees":{"platformFee":0,"liquidityFee":0,"creatorFee":0},"orderAmount":24.999999999999996,"isFilled":false,"fills":[{"matchedBetId":null,"timestamp":1664544305945,"amount":2.147500314140016,"shares":2.833942227270846}],"shares":2.833942227270846},{"orderAmount":7.812500000000001,"amount":7[...]
