interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/market/gCFMraDRTKwOr2l7zzJF
  response:
    body:
      string: "{\"id\":\"gCFMraDRTKwOr2l7zzJF\",\"creatorId\":\"pXiyYYCYDqg8LEwRgPP5aqw0sdD3\",\"creatorUsername\":\"apartresearch\",\"creatorName\":\"Apart
        Research\",\"createdTime\":1653159664431,\"creatorAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fkran%2FO31QzUnSll.png?alt=media&token=b2c86d16-a6a2-47af-80a7-b6fb3ae10762\",\"closeTime\":1704171540000,\"question\":\"Will
        the European Union have an official army by 2024?\",\"tags\":[\"world\"],\"url\":\"https://manifold.markets/apartresearch/will-the-european-union-have-an-off\",\"pool\":{\"NO\":35.23072726412912,\"YES\":312.26945703473194},\"probability\":0.09999999999999994,\"p\":0.4961808859323744,\"totalLiquidity\":102.01201290206842,\"outcomeType\":\"BINARY\",\"mechanism\":\"cpmm-1\",\"volume\":566.1729529947955,\"volume7Days\":336.0642481847743,\"volume24Hours\":1.664092667486905,\"isResolved\":false,\"lastUpdatedTime\":1664959824562,\"comments\":[],\"bets\":[{\"userId\":\"w1knZ6yBvEhRThYPEYTwlmGv7N33\",\"amount\":0,\"shares\":0,\"createdTime\":1664959820149,\"limitProb\":0.1,\"probBefore\":0.09999999999999994,\"fills\":[],\"orderAmount\":1,\"loanAmount\":0,\"userName\":\"Velocity\",\"userAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fv%2FjrWCCgX7WR.jpg?alt=media&token=8061788f-a243-421e-9e09-cf7e2747c9c1\",\"contractId\":\"gCFMraDRTKwOr2l7zzJF\",\"probAfter\":0.09999999999999994,\"outcome\":\"NO\",\"id\":\"zDlaZPx2zea6l370475V\",\"userUsername\":\"v\",\"isFilled\":false,\"isCancelled\":true,\"fees\":{\"creatorFee\":0,\"platformFee\":0,\"liquidityFee\":0}},{\"fees\":{\"platformFee\":0,\"liquidityFee\":0,\"creatorFee\":0},\"userId\":\"w1knZ6yBvEhRThYPEYTwlmGv7N33\",\"limitProb\":0.1,\"amount\":1.664092667486905,\"isCancelled\":true,\"loanAmount\":0,\"orderAmount\":3,\"isFilled\":false,\"probBefore\":0.10095855675749643,\"id\":\"MeL1w7jJxRBC4moJ0tO0\",\"contractId\":\"gCFMraDRTKwOr2l7zzJF\",\"userUsername\":\"v\",\"outcome\":\"NO\",\"userAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fv%2FjrWCCgX7WR.jpg?alt=media&token=8061788f-a243-421e-9e09-cf7e2747c9c1\",\"probAfter\":0.09999999999999994,\"userName\":\"Velocity\",\"shares\":1.8499749289455494,\"fills\":[{\"amount\":1.664092667486905,\"shares\":1.8499749289455494,\"matchedBetId\":null,\"timestamp\":1664948517820}],\"createdTime\":1664948517820},{\"shares\":1.1126557271273043,\"id\":\"0XQlA0zmzowNK99C9894\",\"limitProb\":0.1,\"amount\":1,\"createdTime\":1664922502606,\"fees\":{\"liquidityFee\":0,\"platformFee\":0,\"creatorFee\":0},\"probBefore\":0.10154099308957729,\"loanAmount\":0,\"isFilled\":true,\"userUsername\":\"v\",\"fills\":[{\"timestamp\":1664922502605,\"matchedBetId\":null,\"shares\":1.1126557271273043,\"amount\":1}],\"userId\":\"w1knZ6yBvEhRThYPEYTwlmGv7N33\",\"isCancelled\":true[...]
