interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/slug/will-the-european-union-have-an-off
  response:
    body:
      string: "{\"id\":\"gCFMraDRTKwOr2l7zzJF\",\"creatorId\":\"pXiyYYCYDqg8LEwRgPP5aqw0sdD3\",\"creatorUsername\":\"apartresearch\",\"creatorName\":\"Apart
        Research\",\"createdTime\":1653159664431,\"creatorAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fkran%2FO31QzUnSll.png?alt=media&token=b2c86d16-a6a2-47af-80a7-b6fb3ae10762\",\"closeTime\":1704171540000,\"question\":\"Will
        the European Union have an official army by 2024?\",\"tags\":[\"world\"],\"url\":\"https://manifold.markets/apartresearch/will-the-european-union-have-an-off\",\"pool\":{\"NO\":36.23072726412912,\"YES\":303.5197412702499},\"probability\":0.10519257318090636,\"p\":0.4961808859323743,\"totalLiquidity\":102.01201290206842,\"outcomeType\":\"BINARY\",\"mechanism\":\"cpmm-1\",\"volume\":567.1729529947955,\"volume7Days\":1,\"volume24Hours\":0,\"isResolved\":false,\"lastUpdatedTime\":1665025627627,\"comments\":[],\"bets\":[{\"id\":\"w3BuvLKIfv8IL8ynQKYZ\",\"probBefore\":0.10519257318090636,\"userName\":\"Velocity\",\"outcome\":\"NO\",\"userId\":\"w1knZ6yBvEhRThYPEYTwlmGv7N33\",\"isRedemption\":true,\"userUsername\":\"v\",\"amount\":-8.724118075433745,\"shares\":-9.749715764482062,\"userAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fv%2FjrWCCgX7WR.jpg?alt=media&token=8061788f-a243-421e-9e09-cf7e2747c9c1\",\"loanAmount\":-0.08744646788779353,\"fees\":{\"creatorFee\":0,\"liquidityFee\":0,\"platformFee\":0},\"createdTime\":1665025627349,\"probAfter\":0.10519257318090636,\"contractId\":\"gCFMraDRTKwOr2l7zzJF\"},{\"userId\":\"w1knZ6yBvEhRThYPEYTwlmGv7N33\",\"loanAmount\":-0.08744646788779353,\"createdTime\":1665025627349,\"id\":\"mJZM9oqzFqH94RDLng4v\",\"amount\":-1.0255976890483156,\"probBefore\":0.10519257318090636,\"outcome\":\"YES\",\"userUsername\":\"v\",\"probAfter\":0.10519257318090636,\"shares\":-9.749715764482062,\"userAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fv%2FjrWCCgX7WR.jpg?alt=media&token=8061788f-a243-421e-9e09-cf7e2747c9c1\",\"isRedemption\":true,\"contractId\":\"gCFMraDRTKwOr2l7zzJF\",\"fees\":{\"creatorFee\":0,\"liquidityFee\":0,\"platformFee\":0},\"userName\":\"Velocity\"},{\"probBefore\":0.09999999999999994,\"fills\":[{\"timestamp\":1665025627021,\"shares\":9.749715764482062,\"amount\":1,\"matchedBetId\":null}],\"userUsername\":\"v\",\"contractId\":\"gCFMraDRTKwOr2l7zzJF\",\"userId\":\"w1knZ6yBvEhRThYPEYTwlmGv7N33\",\"amount\":1,\"orderAmount\":1,\"isFilled\":true,\"loanAmount\":0,\"userName\":\"Velocity\",\"createdTime\":1665025627021,\"probAfter\":0.10519257318090636,\"fees\":{\"platformFee\":0,\"creatorFee\":0,\"liquidityFee\":0},\"isCancelled\":true,\"userAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fv%2FjrWCCgX7WR.jpg?alt=media&token=8061788f-a243-421e-9e09-cf7e2747c9c1\",\"limitProb\":0.11,\"id\":\"3f7EIjq9vio9FpSkbpNy\",\"shares\":9.749715764482062,\"outcome\":\"YES\"},{\"shares\":0,\"isFilled\":false,\"probBefore\":0.09999999999999994,\"id\":\"zDlaZPx2zea6l370475V\",\"createdTime\":1664959820149,\"userAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fv%2FjrWCCgX7WR.jpg?alt=media&token=8061788f-a243-421e-9e09-cf7e2747c9c1\",\"fees\":{\"creatorFee\":0,\"liquidityFee\":0,\"platformFee\":0},\"amount\":0,\"userName\":\"Velocity\[...]
