interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/slug/this-market-is-a-mirror-of-another
  response:
    body:
      string: '{"id":"VFXzjLOLH8WM64Cm37GK","creatorId":"k13AzY3mu8XTju3xRZV3P8qBjEC2","creatorUsername":"LivInTheLookingGlass","creatorName":"Olivia","createdTime":1664128363133,"creatorAvatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97","closeTime":1664158393009,"question":"This
        market is a mirror of another market","tags":[],"url":"https://manifold.markets/LivInTheLookingGlass/this-market-is-a-mirror-of-another","pool":{"YES":106.19131671036415,"NO":94.1696582148511},"probability":0.47,"p":0.5000000000000003,"totalLiquidity":100,"outcomeType":"BINARY","mechanism":"cpmm-1","volume":544.297205717224,"volume7Days":0,"volume24Hours":0,"isResolved":true,"resolution":"NO","resolutionTime":1664158393009,"lastUpdatedTime":1664158450962,"comments":[{"commenterPositionOutcome":"NO","contractId":"VFXzjLOLH8WM64Cm37GK","id":"R16c7cPNPJ3AFNW3j5V2","content":{"type":"doc","content":[{"type":"paragraph","content":[{"attrs":{"id":"03V6q7cnumjA5W25dATt","label":"MichaelWheatley"},"type":"mention"},{"type":"text","text":"
        yup. I need to look at a MKT example next to try and reverse engineer this
        in every detail I can manage"}]}]},"replyToCommentId":"IqTGlsueIXMuTuQG9O15","commenterPositionShares":0,"commentType":"contract","userName":"Olivia","userId":"k13AzY3mu8XTju3xRZV3P8qBjEC2","userUsername":"LivInTheLookingGlass","createdTime":1664158447458,"userAvatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97","contractQuestion":"This
        market is a mirror of another market","contractSlug":"this-market-is-a-mirror-of-another","commenterPositionProb":0.47},{"replyToCommentId":"IqTGlsueIXMuTuQG9O15","contractId":"VFXzjLOLH8WM64Cm37GK","userName":"Michael
        Wheatley","commenterPositionShares":0,"contractQuestion":"This market is a
        mirror of another market","userUsername":"MichaelWheatley","createdTime":1664147347966,"commenterPositionProb":0.47,"betOutcome":"NO","contractSlug":"this-market-is-a-mirror-of-another","betId":"g2nxhm5JdRjOjqI7kCVL","content":{"type":"doc","content":[{"type":"paragraph","content":[{"attrs":{"label":"LivInTheLookingGlass","id":"e7YoKFyLvlGKI4x6VrmK"},"type":"mention"},{"text":"
        Well the market''s resolved, and it''s listing \".probability\" as 72%. But
        you can always make your bot resolve based on whether \".resolution\" is \"YES\"
        or \"NO\", right?","type":"text"}]}]},"commentType":"contract","userAvatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FMichaelWheatley%2FUntitled-1.png?alt=media&token=c762196e-85d0-4f0c-961a-e3a80d736c9b","id":"03V6q7cnumjA5W25dATt","userId":"jO7sUhIDTQbAJ3w86akzncTlpRG2","betAmount":-32.714672394959706,"commenterPositionOutcome":"NO"},{"userId":"k13AzY3mu8XTju3xRZV3P8qBjEC2","userUsername":"LivInTheLookingGlass","commenterPositionOutcome":"YES","commenterPositionProb":0.53,"contractSlug":"this-market-is-a-mirror-of-another","contractQuestion":"This
        market is a mirror of another market","createdTime":1664146518207,"contractId":"VFXzjLOLH8WM64Cm37GK","replyToCommentId":"IqTGlsueIXMuTuQG9O15","userName":"Olivia","commentType":"contract","commenterPositionShares":82,"id[...]
