interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/slug/my-partner-and-i-are-considering-mo
  response:
    body:
      string: "{\"id\":\"opaEWymtuX61FK2gKwXL\",\"creatorId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"creatorUsername\":\"LivInTheLookingGlass\",\"creatorName\":\"Olivia\",\"createdTime\":1663625336474,\"creatorAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"closeTime\":1664596740000,\"question\":\"My
        partner and I are considering moving soon.  Where should we consider?\",\"tags\":[],\"url\":\"https://manifold.markets/LivInTheLookingGlass/my-partner-and-i-are-considering-mo\",\"pool\":{\"0\":100,\"1\":25,\"2\":1,\"3\":2,\"4\":6,\"5\":12,\"6\":2,\"7\":1,\"8\":8.028166220647933,\"9\":1,\"10\":1,\"11\":2,\"12\":5,\"13\":5,\"14\":1},\"outcomeType\":\"FREE_RESPONSE\",\"mechanism\":\"dpm-2\",\"volume\":75.97183377935207,\"volume7Days\":10,\"volume24Hours\":0,\"isResolved\":false,\"lastUpdatedTime\":1664555512114,\"answers\":[{\"name\":\"Olivia\",\"contractId\":\"opaEWymtuX61FK2gKwXL\",\"text\":\"Greater
        Chicago\",\"id\":\"1\",\"userId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"username\":\"LivInTheLookingGlass\",\"number\":1,\"createdTime\":1663625351697,\"avatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"probability\":0.26100396143128424},{\"userId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"avatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"createdTime\":1663625366278,\"id\":\"2\",\"contractId\":\"opaEWymtuX61FK2gKwXL\",\"text\":\"Vancouver,
        Canada\",\"username\":\"LivInTheLookingGlass\",\"name\":\"Olivia\",\"number\":2,\"probability\":0.006859570407866334},{\"text\"[...]
