interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/slug/this-market-is-a-mirror-of-another
  response:
    body:
      string: '{"id":"VFXzjLOLH8WM64Cm37GK","creatorId":"k13AzY3mu8XTju3xRZV3P8qBjEC2","creatorUsername":"LivInTheLookingGlass","creatorName":"Olivia","createdTime":1664128363133,"creatorAvatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97","closeTime":1664158393009,"question":"This
        market is a mirror of another market","tags":[],"url":"https://manifold.markets/LivInTheLookingGlass/this-market-is-a-mirror-of-another","pool":{"YES":106.19131671036415,"NO":94.1696582148511},"probability":0.47,"p":0.5000000000000003,"totalLiquidity":100,"outcomeType":"BINARY","mechanism":"cpmm-1","volume":544.297205717224,"volume7Days":0,"volume24Hours":0,"isResolved":true,"resolution":"NO","resolutionTime":1664158393009,"lastUpdatedTime":1664158450962,"comments":[{"userId":"k13AzY3mu8XTju3xRZV3P8qBjEC2","replyToCommentId":"IqTGlsueIXMuTuQG9O15","commenterPositionShares":0,"createdTime":1664158447458,"id":"R16c7cPNPJ3AFNW3j5V2","userName":"Olivia","commentType":"contract","commenterPositionOutcome":"NO","userUsername":"LivInTheLookingGlass","contractSlug":"this-market-is-a-mirror-of-another","commenterPositionProb":0.47,"userAvatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97","contractId":"VFXzjLOLH8WM64Cm37GK","content":{"content":[{"content":[{"attrs":{"label":"MichaelWheatley","id":"03V6q7cnumjA5W25dATt"},"type":"mention"},{"text":"
        yup. I need to look at a MKT example next to try and reverse engineer this
        in every detail I can manage","type":"text"}],"type":"paragraph"}],"type":"doc"},"contractQuestion":"This
        market is a mirror of another market"},{"betId":"g2nxhm5JdRjOjqI7kCVL","contractQuestion":"This
        market is a mirror of another market","contractId":"VFXzjLOLH8WM64Cm37GK","replyToCommentId":"IqTGlsueIXMuTuQG9O15","commenterPositionShares":0,"userUsername":"MichaelWheatley","commenterPositionOutcome":"NO","id":"03V6q7cnumjA5W25dATt","commenterPositionProb":0.47,"createdTime":1664147347966,"betOutcome":"NO","commentType":"contract","contractSlug":"this-market-is-a-mirror-of-another","userAvatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FMichaelWheatley%2FUntitled-1.png?alt=media&token=c762196e-85d0-4f0c-961a-e3a80d736c9b","content":{"type":"doc","content":[{"content":[{"attrs":{"id":"e7YoKFyLvlGKI4x6VrmK","label":"LivInTheLookingGlass"},"type":"mention"},{"type":"text","text":"
        Well the market''s resolved, and it''s listing \".probability\" as 72%. But
        you can always make your bot resolve based on whether \".resolution\" is \"YES\"
        or \"NO\", right?"}],"type":"paragraph"}]},"userId":"jO7sUhIDTQbAJ3w86akzncTlpRG2","userName":"Michael
        Wheatley","betAmount":-32.714672394959706},{"commenterPositionProb":0.53,"contractQuestion":"This
        market is a mirror of another market","replyToCommentId":"IqTGlsueIXMuTuQG9O15","commenterPositionOutcome":"YES","id":"e7YoKFyLvlGKI4x6VrmK","userUsername":"LivInTheLookingGlass","userAvatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97","commenterPositionShares":82,"content":{"co[...]
