interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/slug/which-prediction-market-site-should
  response:
    body:
      string: "{\"id\":\"cUDUvkVTXKuuyIkf0Fpz\",\"creatorId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"creatorUsername\":\"LivInTheLookingGlass\",\"creatorName\":\"Olivia\",\"createdTime\":1663179573897,\"creatorAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"closeTime\":1663516799000,\"question\":\"Which
        prediction market site should I prioritize mirroring?\",\"tags\":[],\"url\":\"https://manifold.markets/LivInTheLookingGlass/which-prediction-market-site-should\",\"pool\":{\"0\":43.333333333333336,\"1\":53.333333333333336,\"2\":58.333333333333336},\"outcomeType\":\"MULTIPLE_CHOICE\",\"mechanism\":\"dpm-2\",\"volume\":55,\"volume7Days\":0,\"volume24Hours\":0,\"isResolved\":true,\"resolution\":\"2\",\"resolutionTime\":1663555987867,\"lastUpdatedTime\":1663556324157,\"answers\":[{\"number\":0,\"username\":\"LivInTheLookingGlass\",\"id\":\"0\",\"avatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"createdTime\":1663179573897,\"contractId\":\"cUDUvkVTXKuuyIkf0Fpz\",\"text\":\"Predictit
        (last updated 2020, may need fork)\",\"userId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"name\":\"Olivia\",\"probability\":0.22615331252167883},{\"userId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"text\":\"Kalshi
        (last updated 2021, autogenerated)\",\"name\":\"Olivia\",\"avatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"id\":\"1\",\"contractId\":\"cUDUvkVTXKuuyIkf0Fpz\",\"createdTime\":1663179573897,\"username\":\"LivInTheLookingGlass\",\"number\":1,\"probability\":0.36351023239680885},{\"text\":\"Metaculus
        (would need to implement API myself)\",\"createdTime\":1663179573897,\"name\":\"Olivia\",\"username\":\"LivInTheLookingGlass\",\"id\":\"2\",\"userId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"avatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"number\":2,\"contractId\":\"cUDUvkVTXKuuyIkf0Fpz\",\"probability\":0.4103364550815123}],\"comments\":[{\"contractSlug\":\"which-prediction-market-site-should\",\"userId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"userName\":\"Olivia\",\"createdTime\":1663556320388,\"contractQuestion\":\"Which
        prediction market site should I prioritize mirroring?\",\"contractId\":\"cUDUvkVTXKuuyIkf0Fpz\",\"userAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"userUsername\":\"LivInTheLookingGlass\",\"id\":\"109gugR1TmI5iwey5sUa\",\"content\":{\"content\":[{\"content\":[{\"text\":\"I
        am currently testing resolution explanations. Note that for this market in
        particular there is a known bug, in that I cannot get probability from the
        API and despite my best efforts cannot calculate implied probability in the
        same way as the site just yet.\",\"type\":\"text\"}],\"type\":\"paragraph\"},{\"type\":\"paragraph\"},{\"content\":[{\"type\":\"text\",\"text\":\"With
        that aside, how does the following read?\"},{\"type\":\"hardBreak\"},{\"type\":\"hardBreak\"},{\"type\":\"text\",\"text\":\"This
        market will is resolving because of the following trigger(s):\"},{\"type\":\"hardBreak\"},{\"text\":\"\_
        - If the current time is past 2022-09-18 11:59:59 (-> True)\",\"type\":\"text\"},{\"type\":\"hardBreak\"},{\"type\":\"hardBreak\"},{\"text\":\"It
        will follow the decision tree below:\",\"type\":\"text\"},{\"type\":\"hardBreak\"},{\"type\":\"text\",\"text\":\"-
        If the human operator agrees:\"},{\"type\":\"hardBreak\"},{\"text\":\"\_ -
        Resolves to the 1 most probable answers, weighted by their probability. (->
        {2: 1.0})\",\"type\":\"text\"},{\"type\":\"hardBreak\"},{\"type\":\"hardBreak\"},{\"text\":\"Final
        Value: {2: 1.0}\",\"type\":\"text\"}],\"type\":\"paragraph\"}],\"type\":\"doc\"},\"commentType\":\"contract\"},{\"userId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"userAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"content\":{\"content\":[{\"content\":[{\"type\":\"mention\",\"attrs\":{\"id\":\"PkBnU8cAZiOLa0fjxiUzMKsFMYZ2\",\"label\":\"horse\"}},{\"text\":\"
        primarily to ensure that judgement is consistent or to offload that to people
        with more expertise than me. Partly to gauge whether Manifold has a different
        (therefore differently-biased) opinion. This allows direct comparison between
        the communities\",\"type\":\"text\"}],\"type\":\"paragraph\"}],\"type\":\"doc\"},\"replyToCommentId\":\"HApxSfqBfGygvrlhHIi7\",\"contractQuestion\":\"Which
        prediction market site should I prioritize mirroring?\",\"userName\":\"Olivia\",\"createdTime\":1663220396178,\"userUsername\":\"LivInTheLookingGlass\",\"commentType\":\"contract\",\"contractId\":\"cUDUvkVTXKuuyIkf0Fpz\",\"id\":\"cyO2jgmwc1yVrhJIUSfP\",\"contractSlug\":\"which-prediction-market-site-should\"},{\"content\":{\"type\":\"doc\",\"content\":[{\"content\":[{\"text\":\"What's
        the reason to mirror any of them?\",\"type[...]
