interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/slug/which-feature-of-my-market-manager
  response:
    body:
      string: "{\"id\":\"Dx7vPilTr1rgQQVETM2Z\",\"creatorId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"creatorUsername\":\"LivInTheLookingGlass\",\"creatorName\":\"Olivia\",\"createdTime\":1663180458290,\"creatorAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"closeTime\":1663516799000,\"question\":\"Which
        feature of my market manager should I prioritize?\",\"tags\":[],\"url\":\"https://manifold.markets/LivInTheLookingGlass/which-feature-of-my-market-manager\",\"pool\":{\"0\":14.5,\"1\":19.5,\"2\":16.5,\"3\":12.5,\"4\":20.5,\"5\":14.5,\"6\":23.5,\"7\":12.5},\"outcomeType\":\"MULTIPLE_CHOICE\",\"mechanism\":\"dpm-2\",\"volume\":34,\"volume7Days\":0,\"volume24Hours\":0,\"isResolved\":true,\"resolution\":\"MKT\",\"resolutionTime\":1663556015520,\"lastUpdatedTime\":1663712102890,\"answers\":[{\"text\":\"Packaging
        it for use by others\",\"contractId\":\"Dx7vPilTr1rgQQVETM2Z\",\"number\":0,\"name\":\"Olivia\",\"userId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"id\":\"0\",\"createdTime\":1663180458290,\"avatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"username\":\"LivInTheLookingGlass\",\"probability\":0.09812875918912897},{\"id\":\"1\",\"number\":1,\"text\":\"Unit
        tests where easy\",\"contractId\":\"Dx7vPilTr1rgQQVETM2Z\",\"avatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"name\":\"Olivia\",\"userId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"username\":\"LivInTheLookingGlass\",\"createdTime\":1663180458290,\"probability\":0.15666072621964802},{\"use[...]
