interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/slug/will-the-trump-special-master-case
  response:
    body:
      string: "{\"id\":\"z8awccgKF9qEreoG6FsH\",\"creatorId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"creatorUsername\":\"LivInTheLookingGlass\",\"creatorName\":\"Olivia\",\"createdTime\":1662505175369,\"creatorAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"closeTime\":1664423940000,\"question\":\"Will
        the Trump special master case be substantially reversed by end of year?\",\"tags\":[],\"url\":\"https://manifold.markets/LivInTheLookingGlass/will-the-trump-special-master-case\",\"pool\":{\"NO\":1650.2652964915594,\"YES\":24.39385111263929},\"probability\":0.9884078047101845,\"p\":0.5575939973657242,\"totalLiquidity\":160,\"outcomeType\":\"BINARY\",\"mechanism\":\"cpmm-1\",\"volume\":6275.337580857782,\"volume7Days\":0,\"volume24Hours\":0,\"isResolved\":true,\"resolution\":\"YES\",\"resolutionTime\":1664432192844,\"resolutionProbability\":0.9884078047101845,\"lastUpdatedTime\":1664398218328,\"comments\":[{\"id\":\"vAyGrGSfei2JpJhDbxb2\",\"createdTime\":1664232299771,\"contractId\":\"z8awccgKF9qEreoG6FsH\",\"commenterPositionProb\":0.9862381333247052,\"userAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FJackC%2Fmetal-jacks-thumbnail.jpg?alt=media&token=89d230f3-05a9-4ad4-9606-5fc6e2c6b096\",\"commenterPositionShares\":654,\"userId\":\"YGZdZUSFQyM8j2YzPaBqki8NBz23\",\"content\":{\"content\":[{\"type\":\"paragraph\",\"content\":[{\"text\":\"*Not
        really a small part, but my point is that there's other stuff going on here
        that wasn't reversed. One very important part was reversed, and I agree that
        is \\\"substantial\\\".\",\"type\":\"text\"}]}],\"type\":\"doc\"},\"userName\":\"Jack\",\"userUsername\":\"jack\",\"commentType\":\"contract\",\"contractSlug\":\"will-the-trump-special-master-case\",\"commenterPositionOutcome\":\"NO\",\"replyToCommentId\":\"Y1vCgyIeC9EsXEJZGIST\",\"contractQuestion\":\"Will
        the Trump special master case be substantially reversed by end of year?\"},{\"content\":{\"type\":\"doc\",\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"mention\",\"attrs\":{\"id\":\"1Oq0eh40fApX38NuRtID\",\"label\":\"BTE\"}},{\"type\":\"text\",\"text\":\"
        This was only one appeal about one small part. Let's say hypothetically the
        special master rules that documents XYZ are protected by privilege. DOJ certainly
        might want to appeal that. That appeal could be won or lost.\"}]}]},\"replyToCommentId\":\"Y1vCgyIeC9EsXEJZGIST\",\"createdTime\":1664232199731,\"userUsername\":\"jack\",\"commenterPositionOutcome\":\"NO\",\"userAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-[...]
