interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/slug/will-the-european-union-have-an-off
  response:
    body:
      string: "{\"id\":\"gCFMraDRTKwOr2l7zzJF\",\"creatorId\":\"pXiyYYCYDqg8LEwRgPP5aqw0sdD3\",\"creatorUsername\":\"apartresearch\",\"creatorName\":\"Apart
        Research\",\"createdTime\":1653159664431,\"creatorAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fkran%2FO31QzUnSll.png?alt=media&token=b2c86d16-a6a2-47af-80a7-b6fb3ae10762\",\"closeTime\":1704171540000,\"question\":\"Will
        the European Union have an official army by 2024?\",\"tags\":[\"world\"],\"url\":\"https://manifold.markets/apartresearch/will-the-european-union-have-an-off\",\"pool\":{\"YES\":312.26945703473194,\"NO\":35.23072726412912},\"probability\":0.09999999999999994,\"p\":0.4961808859323744,\"totalLiquidity\":102.01201290206842,\"outcomeType\":\"BINARY\",\"mechanism\":\"cpmm-1\",\"volume\":566.1729529947955,\"volume7Days\":336.0642481847743,\"volume24Hours\":1.664092667486905,\"isResolved\":false,\"lastUpdatedTime\":1664959824562,\"comments\":[],\"bets\":[{\"userUsername\":\"v\",\"fees\":{\"platformFee\":0,\"liquidityFee\":0,\"creatorFee\":0},\"outcome\":\"NO\",\"userName\":\"Velocity\",\"limitProb\":0.1,\"userId\":\"w1knZ6yBvEhRThYPEYTwlmGv7N33\",\"isFilled\":false,\"isCancelled\":true,\"contractId\":\"gCFMraDRTKwOr2l7zzJF\",\"orderAmount\":1,\"shares\":0,\"createdTime\":1664959820149,\"loanAmount\":0,\"probAfter\":0.09999999999999994,\"id\":\"zDlaZPx2zea6l370475V\",\"fills\":[],\"amount\":0,\"userAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fv%2FjrWCCgX7WR.jpg?alt=media&token=8061788f-a243-421e-9e09-cf7e2747c9c1\",\"probBefore\":0.09999999999999994},{\"id\":\"MeL1w7jJxRBC4moJ0tO0\",\"probAfter\":0.09999999999999994,\"probBefore\":0.10095855675749643,\"contractId\":\"gCFMraDRTKwOr2l7zzJF\",\"userAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fv%2FjrWCCgX7WR.jpg?alt=media&token=8061788f-a243-421e-9e09-cf7e2747c9c1\",\"outcome\":\"NO\",\"orderAmount\":3,\"userUsername\":\"v\",\"isFilled\":false,\"fills\":[{\"amount\":1.664092667486905,\"timestamp\":1664948517820,\"shares\":1.8499749289455494,\"matchedBetId\":null}],\"loanAmount\":0,\"createdTime\":1664948517820,\"amount\":1.664092667486905,\"shares\":1.8499749289455494,\"userName\":\"Velocity\",\"fees\":{\"platformFee\":0,\"creatorFee\":0,\"liquidityFee\":0},\"userId\":\"w1knZ6yBvEhRThYPEYTwlmGv7N33\",\"isCancelled\":true,\"limitProb\":0.1},{\"limitProb\":0.1,\"probBefore\":0.10154099308957729,\"contractId\":\"gCFMraDRTKwOr2l7zzJF\",\"amount\":1,\"id\":\"0XQlA0zmzowNK99C9894\",\"fees\":{\"liquidityFee\":0,\"creatorFee\":0,\"platformFee\":0},\"probAf[...]
