interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/market/eBuljtDFa2dR7bXSaYyY
  response:
    body:
      string: '{"id":"eBuljtDFa2dR7bXSaYyY","creatorId":"k13AzY3mu8XTju3xRZV3P8qBjEC2","creatorUsername":"LivInTheLookingGlass","creatorName":"Olivia","createdTime":1663099416258,"creatorAvatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97","closeTime":1664553599000,"question":"What
        will my reported profit be on 2022-10-01?","tags":[],"url":"https://manifold.markets/LivInTheLookingGlass/what-will-my-reported-profit-be-on","pool":{"YES":55.288613725107865,"NO":180.86906735841671},"p":0.5000000000000003,"totalLiquidity":100,"outcomeType":"PSEUDO_NUMERIC","mechanism":"cpmm-1","volume":118.73964574180756,"volume7Days":37.96000031414002,"volume24Hours":0,"isResolved":true,"resolution":"MKT","resolutionTime":1664604205925,"resolutionProbability":0.8828819049998092,"lastUpdatedTime":1664552619255,"min":2000,"max":6000,"isLogScale":false,"comments":[],"bets":[{"isRedemption":true,"probBefore":0.765882636247799,"probAfter":0.765882636247799,"contractId":"eBuljtDFa2dR7bXSaYyY","loanAmount":0,"outcome":"NO","shares":-2.833942227270846,"userAvatarUrl":"https://lh3.googleusercontent.com/a/ALm5wu0WQuo75x-R75TTdnukoDCjT8jmSZyGzWlhxN6f=s96-c","amount":-0.6634750832746915,"createdTime":1664552619002,"userName":"Tiger
        Lava Lamp","fees":{"platformFee":0,"liquidityFee":0,"creatorFee":0},"userUsername":"Dacaveofwonders","id":"j8RGCp302R8EeiZNa8qs","userId":"T5IuPIXaMjT5alEDZrSIaNrYcS72"},{"shares":-2.833942227270846,"amount":-2.1704671439961545,"userId":"T5IuPIXaMjT5alEDZrSIaNrYcS72","isRedemption":true,"probBefore":0.765882636247799,"id":"K139ANATzDLyIsdWclws","loanAmount":0,"userName":"Tiger
        Lava Lamp","fees":{"creatorFee":0,"platformFee":0,"liquidityFee":0},"userAvatarUrl":"https://lh3.googleusercontent.com/a/ALm5wu0WQuo75x-R75TTdnukoDCjT8jmSZyGzWlhxN6f=s96-c","contractId":"eBuljtDFa2dR7bXSaYyY","createdTime":1664552619002,"outcome":"YES","userUsername":"Dacaveofwonders","probAfter":0.765882636247799},{"id":"aeKAHOgHQLPBiLB4nDE3","isFilled":true,"shares":36.71903496979383,"userId":"yAPO0lFCr0VYiIosymUdZgbTxnC2","createdTime":1664552618685,"userName":"phaen","isCancelled":false,"outcome":"YES","loanAmount":0,"amount":28,"probBefore":0.76,"userUsername":"phaen","contractId":"eBuljtDFa2dR7bXSaYyY","fills":[{"shares":1.6132785380495207,"timestamp":1664552618685,"matchedBetId":null,"amount":1.2281119105223226},{"matchedBetId":"V8VaSvzjL47F0gaWzN7U","shares":32.89473684210526,"timestamp":1664552618685,"amount":25.08223684210526},{"timestamp":1664552618685,"matchedBetId":null,"shares":2.2110195896390508,"amount":1.6896512473724172}],"orderAmount":28,"fees":{"creatorFee":0,"platformFee":0,"liquidityFee":0},"userAvatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fphaen%2F32.png?alt=media&token=0a0a4a63-889a-4705-a9a0-90cebc102691","probAfter":0.765882636247799},{"fees":{"platformFee":0,"liquidityFee":0,"creatorFee":0},"userId":"T5IuPIXaMjT5alEDZrSIaNrYcS72","probAfter":0.76,"isCancelled":false,"probBefore":0.7555429263979957,"fills":[{"amount":2.147500314140016,"shares":2.833942227270846,"matchedBetId":null,"timestamp":1664544305945}],"userAvatarUrl":"https://lh3.googleusercontent.com/a/ALm5wu0WQuo75x-R75TTdnukoDCjT8jmSZyGzWlhxN6f=s96-c","shares":2.833942227270846,"id":"P2PIMTivA14vVZTknVM3","outcome":"YES","limitProb":0.76,"amount":2.147500314140016,"userName":"Tiger
        Lava Lamp","userUsername":"Dacaveofwonders","orderAmount":24.999999999999996,"createdTime":1664544305946,"isFilled":false,"loanAmount":0,"contractId":"eBuljtDFa2dR7bXSaYyY"},{"createdTime":1664544303394,"contractId":"eBuljtDFa2dR7bXSaYyY","probBefore":0.7555429263979957,"loanAmount":0,"isFilled":true,"outcome":"NO","shares":32.89473684210526,"isCancelled":false,"userId":"T5IuPIXaMjT5alEDZrSIaNrYcS72","userUsername":"Dacaveofwonders","id":[...]
