interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/market/GdIMBXtOnA1wj3KJAYvj
  response:
    body:
      string: "{\"id\":\"GdIMBXtOnA1wj3KJAYvj\",\"creatorId\":\"AJwLWoo3xue32XIiAVrL5SyR1WB2\",\"creatorUsername\":\"ian\",\"creatorName\":\"Ian
        Philips\",\"createdTime\":1663366879764,\"creatorAvatarUrl\":\"https://lh3.googleusercontent.com/a-/AOh14GhGa0Vhb3LTBXbd2fGfekbG5clPQSVe59Xh35CrKw=s96-c\",\"closeTime\":1667282340000,\"question\":\"What
        are the next 5 badges we'll add by the end of October?\",\"tags\":[],\"url\":\"https://manifold.markets/ian/what-are-the-next-5-badges-well-add\",\"pool\":{\"0\":100,\"1\":5,\"2\":5,\"3\":5,\"4\":10,\"5\":30,\"6\":25,\"7\":5,\"8\":13,\"9\":9,\"10\":20,\"11\":5,\"12\":1,\"13\":2,\"14\":1,\"15\":0,\"16\":10,\"17\":1,\"18\":1,\"19\":10,\"20\":21,\"21\":4,\"22\":10,\"23\":1,\"24\":1,\"25\":1,\"26\":1},\"outcomeType\":\"FREE_RESPONSE\",\"mechanism\":\"dpm-2\",\"volume\":199,\"volume7Days\":14,\"volume24Hours\":1,\"isResolved\":false,\"lastUpdatedTime\":1664933881767,\"answers\":[{\"number\":1,\"text\":\"Tipped
        comments (in place of proven correct)\",\"contractId\":\"GdIMBXtOnA1wj3KJAYvj\",\"username\":\"ian\",\"id\":\"1\",\"createdTime\":1663369771773,\"name\":\"Ian
        Philips\",\"userId\":\"AJwLWoo3xue32XIiAVrL5SyR1WB2\",\"avatarUrl\":\"https://lh3.googleusercontent.com/a-/AOh14GhGa0Vhb3LTBXbd2fGfekbG5clPQSVe59Xh35CrKw=s96-c\",\"probability\":0.011620129465247311},{\"createdTime\":1663375142593,\"avatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FNathanYounga244%2FNathan%20square.jpg?alt=media&token=6de519e4-402b-4ff2-b6b3-70181e9d9dc2\",\"name\":\"N.C.
        Young\",\"userId\":\"fSrex43BDjeneNZ4ZLfxllSb8b42\",\"username\":\"NcyRocks\",\"text\":\"Number
        of predictions\",\"contractId\":\"GdIMBXtOnA1wj3KJAYvj\",\"id\":\"2\",\"number\":2,\"probability\":0.01218696504891791},{\"[...]
