interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/user/LivInTheLookingGlass
  response:
    body:
      string: '{"id":"k13AzY3mu8XTju3xRZV3P8qBjEC2","createdTime":1648011015371,"name":"Olivia","username":"LivInTheLookingGlass","url":"https://manifold.markets/LivInTheLookingGlass","avatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97","bio":"Computer
        Science & Engineering PhD student who likes testing her predictive skill.
        I also operate @MarketManagerBot, map on OpenStreetMap, and occasionally post
        on Mastodon @LivInTheLookingGlass@mastodon.social","website":"https://mastodon.social/@LivInTheLookingGlass","twitterHandle":"","balance":24.328893216088005,"totalDeposits":8355.897013412578,"profitCached":{"weekly":497.81330655653255,"allTime":6134.5960416485705,"monthly":2377.20519440705,"daily":180.74679651199403},"creatorVolumeCached":{"daily":790.9647473532227,"monthly":12540.906372343215,"allTime":62890.969107217374,"weekly":4484.343023585168}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"10hvbvghuor9"'
      X-Matched-Path:
      - /api/v0/user/[username]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::cle1::wmdx6-1665273274151-b4dfc343e524
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/user/LivInTheLookingGlass
  response:
    body:
      string: '{"id":"k13AzY3mu8XTju3xRZV3P8qBjEC2","createdTime":1648011015371,"name":"Olivia","username":"LivInTheLookingGlass","url":"https://manifold.markets/LivInTheLookingGlass","avatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97","bio":"Computer
        Science & Engineering PhD student who likes testing her predictive skill.
        I also operate @MarketManagerBot, map on OpenStreetMap, and occasionally post
        on Mastodon @LivInTheLookingGlass@mastodon.social","website":"https://mastodon.social/@LivInTheLookingGlass","twitterHandle":"","balance":24.328893216088005,"totalDeposits":8355.897013412578,"profitCached":{"allTime":6134.5960416485705,"weekly":497.81330655653255,"monthly":2377.20519440705,"daily":180.74679651199403},"creatorVolumeCached":{"monthly":12540.906372343215,"weekly":4484.343023585168,"daily":790.9647473532227,"allTime":62890.969107217374}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"11z65j8sb23r9"'
      X-Matched-Path:
      - /api/v0/user/[username]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::cle1::46mmm-1665273274391-da2cf686d41e
    status:
      code: 200
      message: OK
version: 1
