interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/user/v
  response:
    body:
      string: '{"id":"w1knZ6yBvEhRThYPEYTwlmGv7N33","createdTime":1655431081524,"name":"Velocity","username":"v","url":"https://manifold.markets/v","avatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fv%2FjrWCCgX7WR.jpg?alt=media&token=8061788f-a243-421e-9e09-cf7e2747c9c1","bio":"If
        you prick us, do we not bleed? If you tickle us, do we not laugh? ...","website":"","twitterHandle":"","balance":13079.51754944143,"totalDeposits":2115,"profitCached":{"monthly":22929.84736746954,"daily":4619.0476158665515,"weekly":8063.125743897224,"allTime":23412.99914548799},"creatorVolumeCached":{"daily":0,"monthly":0,"allTime":0,"weekly":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9d1iv6j9hhig"'
      X-Matched-Path:
      - /api/v0/user/[username]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::cle1::pqw72-1665272990961-a73b30b3b829
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/user/v
  response:
    body:
      string: '{"id":"w1knZ6yBvEhRThYPEYTwlmGv7N33","createdTime":1655431081524,"name":"Velocity","username":"v","url":"https://manifold.markets/v","avatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fv%2FjrWCCgX7WR.jpg?alt=media&token=8061788f-a243-421e-9e09-cf7e2747c9c1","bio":"If
        you prick us, do we not bleed? If you tickle us, do we not laugh? ...","website":"","twitterHandle":"","balance":13079.51754944143,"totalDeposits":2115,"profitCached":{"monthly":22929.84736746954,"daily":4619.0476158665515,"weekly":8063.125743897224,"allTime":23412.99914548799},"creatorVolumeCached":{"monthly":0,"weekly":0,"daily":0,"allTime":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"vnw9uhd95iig"'
      X-Matched-Path:
      - /api/v0/user/[username]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::cle1::k98db-1665272991169-e7d04822e114
    status:
      code: 200
      message: OK
version: 1
