interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/user/v
  response:
    body:
      string: '{"id":"w1knZ6yBvEhRThYPEYTwlmGv7N33","createdTime":1655431081524,"name":"Velocity","username":"v","url":"https://manifold.markets/v","avatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fv%2FjrWCCgX7WR.jpg?alt=media&token=8061788f-a243-421e-9e09-cf7e2747c9c1","bio":"If
        you prick us, do we not bleed? If you tickle us, do we not laugh? ...","website":"","twitterHandle":"","balance":13079.51754944143,"totalDeposits":2115,"profitCached":{"allTime":23414.64829479905,"daily":4620.696765177614,"weekly":8055.112756388324,"monthly":22931.496516780604},"creatorVolumeCached":{"daily":0,"allTime":0,"weekly":0,"monthly":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"asnq8wpecjig"'
      X-Matched-Path:
      - /api/v0/user/[username]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::cle1::gpxdx-1665273274668-2d0a6d4ca518
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/user/v
  response:
    body:
      string: '{"id":"w1knZ6yBvEhRThYPEYTwlmGv7N33","createdTime":1655431081524,"name":"Velocity","username":"v","url":"https://manifold.markets/v","avatarUrl":"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2Fv%2FjrWCCgX7WR.jpg?alt=media&token=8061788f-a243-421e-9e09-cf7e2747c9c1","bio":"If
        you prick us, do we not bleed? If you tickle us, do we not laugh? ...","website":"","twitterHandle":"","balance":13079.51754944143,"totalDeposits":2115,"profitCached":{"daily":4620.696765177614,"allTime":23414.64829479905,"weekly":8055.112756388324,"monthly":22931.496516780604},"creatorVolumeCached":{"daily":0,"allTime":0,"monthly":0,"weekly":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"rducgeu363ig"'
      X-Matched-Path:
      - /api/v0/user/[username]
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - cle1::cle1::4z6bh-1665273274873-081bd9bdba78
    status:
      code: 200
      message: OK
version: 1
