interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.github.com/repos/LivInTheLookingGlass/ManifoldMarketManager/issues/4
  response:
    body:
      string: '{"url":"https://api.github.com/repos/LivInTheLookingGlass/ManifoldMarketManager/issues/4","repository_url":"https://api.github.com/repos/LivInTheLookingGlass/ManifoldMarketManager","labels_url":"https://api.github.com/repos/LivInTheLookingGlass/ManifoldMarketManager/issues/4/labels{/name}","comments_url":"https://api.github.com/repos/LivInTheLookingGlass/ManifoldMarketManager/issues/4/comments","events_url":"https://api.github.com/repos/LivInTheLookingGlass/ManifoldMarketManager/issues/4/events","html_url":"https://github.com/LivInTheLookingGlass/ManifoldMarketManager/pull/4","id":1329158467,"node_id":"PR_kwDOHp6g7M48rXtz","number":4,"title":"Fix
        spelling errors","user":{"login":"cosmojg","id":19784632,"node_id":"MDQ6VXNlcjE5Nzg0NjMy","avatar_url":"https://avatars.githubusercontent.com/u/19784632?v=4","gravatar_id":"","url":"https://api.github.com/users/cosmojg","html_url":"https://github.com/cosmojg","followers_url":"https://api.github.com/users/cosmojg/followers","following_url":"https://api.github.com/users/cosmojg/following{/other_user}","gists_url":"https://api.github.com/users/cosmojg/gists{/gist_id}","starred_url":"https://api.github.com/users/cosmojg/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cosmojg/subscriptions","organizations_url":"https://api.github.com/users/cosmojg/orgs","repos_url":"https://api.github.com/users/cosmojg/repos","events_url":"https://api.github.com/users/cosmojg/events{/privacy}","received_events_url":"https://api.github.com/users/cosmojg/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":1,"created_at":"2022-08-04T20:46:19Z","updated_at":"2022-08-05T23:15:27Z","closed_at":"2022-08-04T21:09:06Z","author_association":"CONTRIBUTOR","active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/LivInTheLookingGlass/ManifoldMarketManager/pulls/4","html_url":"https://github.com/LivInTheLookingGlass/ManifoldMarketManager/pull/4","diff_url":"https://github.com/LivInTheLookingGlass/ManifoldMarketManager/pull/4.diff","patch_url":"https://github.com/LivInTheLookingGlass/ManifoldMarketManager/pull/4.patch","merged_at":"2022-08-04T21:09:06Z"},"body_html":null,"body_text":null,"body":null,"closed_by":{"login":"LivInTheLookingGlass","id":1554778,"node_id":"MDQ6VXNlcjE1NTQ3Nzg=","avatar_url":"https://avatars.githubusercontent.com/u/1554778?v=4","gravatar_id":"","url":"https://api.github.com/users/LivInTheLookingGlass","html_url":"https://github.com/LivInTheLookingGlass","followers_url":"https://api.github.com/users/LivInTheLookingGlass/followers","following_url":"https://api.github.com/users/LivInTheLookingGlass/following{/other_user}","gists_url":"https://api.github.com/users/LivInTheLookingGlass/gists{/gist_id}","starred_url":"https://api.github.com/users/LivInTheLookingGlass/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/LivInTheLookingGlass/subscriptions","organizations_url":"https://api.github.com/users/LivInTheLookingGlass/orgs","repos_url":"https://api.github.com/users/LivInTheLookingGlass/repos","events_url":"https://api.github.com/users/LivInTheLookingGlass/events{/privacy}","received_events_url":"https://api.github.com/users/LivInTheLookingGlass/received_events","type":"User","site_admin":false},"reactions":{"url":"https://api.github.com/repos/LivInTheLookingGlass/ManifoldMarketManager/issues/4/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/LivInTheLookingGlass/ManifoldMarketManager/issues/4/timeline","performed_via_github_app":null,"state_reason":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"5d12415cf57a745cb023a56cfd59d396213acee6629356438d6fa729905ab312"
      Last-Modified:
      - Thu, 08 Sep 2022 08:03:33 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; param=full; format=json
      X-OAuth-Scopes:
      - ''
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4887'
      X-RateLimit-Reset:
      - '1665777044'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '113'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.github.com/repos/LivInTheLookingGlass/ManifoldMarketManager/pulls/4
  response:
    body:
      string: '{"url":"https://api.github.com/repos/LivInTheLookingGlass/ManifoldMarketManager/pulls/4","id":1018002291,"node_id":"PR_kwDOHp6g7M48rXtz","html_url":"https://github.com/LivInTheLookingGlass/ManifoldMarketManager/pull/4","diff_url":"https://github.com/LivInTheLookingGlass/ManifoldMarketManager/pull/4.diff","patch_url":"https://github.com/LivInTheLookingGlass/ManifoldMarketManager/pull/4.patch","issue_url":"https://api.github.com/repos/LivInTheLookingGlass/ManifoldMarketManager/issues/4","number":4,"state":"closed","locked":false,"title":"Fix
        spelling errors","user":{"login":"cosmojg","id":19784632,"node_id":"MDQ6VXNlcjE5Nzg0NjMy","avatar_url":"https://avatars.githubusercontent.com/u/19784632?v=4","gravatar_id":"","url":"https://api.github.com/users/cosmojg","html_url":"https://github.com/cosmojg","followers_url":"https://api.github.com/users/cosmojg/followers","following_url":"https://api.github.com/users/cosmojg/following{/other_user}","gists_url":"https://api.github.com/users/cosmojg/gists{/gist_id}","starred_url":"https://api.github.com/users/cosmojg/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cosmojg/subscriptions","organizations_url":"https://api.github.com/users/cosmojg/orgs","repos_url":"https://api.github.com/users/cosmojg/repos","events_url":"https://api.github.com/users/cosmojg/events{/privacy}","received_events_url":"https://api.github.com/users/cosmojg/received_events","type":"User","site_admin":false},"body":null,"created_at":"2022-08-04T20:46:19Z","updated_at":"2022-08-05T23:15:27Z","closed_at":"2022-08-04T21:09:06Z","merged_at":"2022-08-04T21:09:06Z","merge_commit_sha":"4a064fd64cf59cde4100b8c8933f7526b9d7a7dd","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/LivInTheLookingGlass/ManifoldMarketManager/pulls/4/commits","review_comments_url":"https://api.github.com/repos/LivInTheLookingGlass/ManifoldMarketManager/pulls/4/comments","review_comment_url":"https://api.github.com/repos/LivInTheLookingGlass/ManifoldMarketManager/pulls/comments{/number}","comments_url":"https://api.github.com/repos/LivInTheLookingGlass/ManifoldMarketManager/issues/4/comments","statuses_url":"https://api.github.com/repos/LivInTheLookingGlass/ManifoldMarketManager/statuses/fb7ae6d97d2f2a313216104182f5f2cad0ce298b","head":{"label":"cosmojg:patch-1","ref":"patch-1","sha":"fb7ae6d97d2f2a313216104182f5f2cad0ce298b","user":{"login":"cosmojg","id":19784632,"node_id":"MDQ6VXNlcjE5Nzg0NjMy","avatar_url":"https://avatars.githubusercontent.com/u/19784632?v=4","gravatar_id":"","url":"https://api.github.com/users/cosmojg","html_url":"https://github.com/cosmojg","followers_url":"https://api.github.com/users/cosmojg/followers","following_url":"https://api.github.com/users/cosmojg/following{/other_user}","gists_url":"https://api.github.com/users/cosmojg/gists{/gist_id}","starred_url":"https://api.github.com/users/cosmojg/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cosmojg/subscriptions","organizations_url":"https://api.github.com/users/cosmojg/orgs","repos_url":"https://api.github.com/users/cosmojg/repos","events_url":"https://api.github.com/users/cosmojg/events{/privacy}","received_events_url":"https://api.github.com/users/cosmojg/received_events","type":"User","site_admin":false},"repo":{"id":521409116,"node_id":"R_kgDOHxQSXA","name":"ManifoldMarketManager","full_name":"cosmojg/ManifoldMarketManager","private":false,"owner":{"login":"cosmojg","id":19784632,"node_id":"MDQ6VXNlcjE5Nzg0NjMy","avatar_url":"https://avatars.githubusercontent.com/u/19784632?v=4","gravatar_id":"","url":"https://api.github.com/users/cosmojg","html_url":"https://github.com/cosmojg","followers_url":"https://api.github.com/users/cosmojg/followers","following_url":"https://api.github.com/users/cosmojg/following{/other_user}","gists_url":"https://api.github.com/users/cosmojg/gists{/gist_id}","starred_url":"https://api.github.com/users/cosmojg/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cosmojg/subscriptions","organizations_url":"https://api.github.com/users/cosmojg/orgs","repos_url":"https://api.github.com/users/cosmojg/repos","events_url":"https://api.github.com/users/cosmojg/events{/privacy}","received_events_url":"https://api.github.com/users/cosmojg/received_events","type":"User","site_admin":false},"html_url":"https://github.com/cosmojg/ManifoldMarketManager","description":null,"fork":true,"url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager","forks_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/forks","keys_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/keys{/key_id}","collaborators_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/teams","hooks_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/hooks","issue_events_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/issues/events{/number}","events_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/events","assignees_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/assignees{/user}","branches_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/branches{/branch}","tags_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/tags","blobs_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/git/refs{/sha}","trees_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/git/trees{/sha}","statuses_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/statuses/{sha}","languages_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/languages","stargazers_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/stargazers","contributors_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/contributors","subscribers_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/subscribers","subscription_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/subscription","commits_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/commits{/sha}","git_commits_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/git/commits{/sha}","comments_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/comments{/number}","issue_comment_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/issues/comments{/number}","contents_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/contents/{+path}","compare_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/compare/{base}...{head}","merges_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/merges","archive_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/downloads","issues_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/issues{/number}","pulls_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/pulls{/number}","milestones_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/milestones{/number}","notifications_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/labels{/name}","releases_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/releases{/id}","deployments_url":"https://api.github.com/repos/cosmojg/ManifoldMarketManager/deployments","created_at":"2022-08-04T20:37:26Z","updated_at":"2022-08-04T20:36:56Z","pushed_at":"2022-08-05T23:15:27Z","git_url":"git://github.com/cosmojg/ManifoldMarketManager.git","ssh_url":"git@github.com:cosmojg/ManifoldMarketManager.git","clone_url":"https://github.com/cosmojg/ManifoldMarketManager.git","svn_url":"https://github.com/cosmojg/ManifoldMarketManager","homepage":null,"size":138,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"agpl-3.0","name":"GNU
        Affero General Public License v3.0","spdx_id":"AGPL-3.0","url":"https://api.github.com/licenses/agpl-3.0","node_id":"MDc6TGljZW5zZTE="},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"master"}},"base":{"label":"LivInTheLookingGlass:master","ref":"master","sha":"923760ca74b9cb601be73e986f213c1111e14a92","user":{"login":"LivInTheLookingGlass","id":1554778,"node_id":"MDQ6VXNlcjE1NTQ3Nzg=","avatar_url":"https://avatars.githubusercontent.com/u/1554778?v=4","gravatar_id":"","url":"https://api.github.com/users/LivInTheLookingGlass","html_url":"https://github.com/LivInTheLookingGlass","followers_url":"https://api.github.com/users/LivInTheLookingGlass/followers","following_url":"https://api.github.com[...]
