interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://manifold.markets/api/v0/market/cUDUvkVTXKuuyIkf0Fpz
  response:
    body:
      string: "{\"id\":\"cUDUvkVTXKuuyIkf0Fpz\",\"creatorId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"creatorUsername\":\"LivInTheLookingGlass\",\"creatorName\":\"Olivia\",\"createdTime\":1663179573897,\"creatorAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"closeTime\":1663516799000,\"question\":\"Which
        prediction market site should I prioritize mirroring?\",\"tags\":[],\"url\":\"https://manifold.markets/LivInTheLookingGlass/which-prediction-market-site-should\",\"pool\":{\"0\":43.333333333333336,\"1\":53.333333333333336,\"2\":58.333333333333336},\"outcomeType\":\"MULTIPLE_CHOICE\",\"mechanism\":\"dpm-2\",\"volume\":55,\"volume7Days\":0,\"volume24Hours\":0,\"isResolved\":true,\"resolution\":\"2\",\"resolutionTime\":1663555987867,\"lastUpdatedTime\":1663556324157,\"answers\":[{\"contractId\":\"cUDUvkVTXKuuyIkf0Fpz\",\"avatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"text\":\"Predictit
        (last updated 2020, may need fork)\",\"createdTime\":1663179573897,\"name\":\"Olivia\",\"id\":\"0\",\"userId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"number\":0,\"username\":\"LivInTheLookingGlass\",\"probability\":0.22615331252167883},{\"name\":\"Olivia\",\"createdTime\":1663179573897,\"id\":\"1\",\"number\":1,\"contractId\":\"cUDUvkVTXKuuyIkf0Fpz\",\"username\":\"LivInTheLookingGlass\",\"avatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"text\":\"Kalshi
        (last updated 2021, autogenerated)\",\"userId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"probability\":0.36351023239680885},{\"text\":\"Metaculus
        (would need to implement API myself)\",\"number\":2,\"username\":\"LivInTheLookingGlass\",\"userId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"contractId\":\"cUDUvkVTXKuuyIkf0Fpz\",\"createdTime\":1663179573897,\"avatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"name\":\"Olivia\",\"id\":\"2\",\"probability\":0.4103364550815123}],\"comments\":[{\"userAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images%2FLivInTheLookingGlass%2FP1120243.jpg?alt=media&token=7bb458ea-8b98-433b-974e-4407497b9d97\",\"userName\":\"Olivia\",\"createdTime\":1663556320388,\"contractQuestion\":\"Which
        prediction market site should I prioritize mirroring?\",\"contractSlug\":\"which-prediction-market-site-should\",\"content\":{\"content\":[{\"content\":[{\"type\":\"text\",\"text\":\"I
        am currently testing resolution explanations. Note that for this market in
        particular there is a known bug, in that I cannot get probability from the
        API and despite my best efforts cannot calculate implied probability in the
        same way as the site just yet.\"}],\"type\":\"paragraph\"},{\"type\":\"paragraph\"},{\"content\":[{\"type\":\"text\",\"text\":\"With
        that aside, how does the following read?\"},{\"type\":\"hardBreak\"},{\"type\":\"hardBreak\"},{\"text\":\"This
        market will is resolving because of the following trigger(s):\",\"type\":\"text\"},{\"type\":\"hardBreak\"},{\"type\":\"text\",\"text\":\"\_
        - If the current time is past 2022-09-18 11:59:59 (-> True)\"},{\"type\":\"hardBreak\"},{\"type\":\"hardBreak\"},{\"type\":\"text\",\"text\":\"It
        will follow the decision tree below:\"},{\"type\":\"hardBreak\"},{\"type\":\"text\",\"text\":\"-
        If the human operator agrees:\"},{\"type\":\"hardBreak\"},{\"text\":\"\_ -
        Resolves to the 1 most probable answers, weighted by their probability. (->
        {2: 1.0})\",\"type\":\"text\"},{\"type\":\"hardBreak\"},{\"type\":\"hardBreak\"},{\"text\":\"Final
        Value: {2: 1.0}\",\"type\":\"text\"}],\"type\":\"paragraph\"}],\"type\":\"doc\"},\"userUsername\":\"LivInTheLookingGlass\",\"commentType\":\"contract\",\"userId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"contractId\":\"cUDUvkVTXKuuyIkf0Fpz\",\"id\":\"109gugR1TmI5iwey5sUa\"},{\"contractSlug\":\"which-prediction-market-site-should\",\"userUsername\":\"LivInTheLookingGlass\",\"commentType\":\"contract\",\"replyToCommentId\":\"HApxSfqBfGygvrlhHIi7\",\"id\":\"cyO2jgmwc1yVrhJIUSfP\",\"contractQuestion\":\"Which
        prediction market site should I prioritize mirroring?\",\"contractId\":\"cUDUvkVTXKuuyIkf0Fpz\",\"userId\":\"k13AzY3mu8XTju3xRZV3P8qBjEC2\",\"content\":{\"type\":\"doc\",\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"mention\",\"attrs\":{\"label\":\"horse\",\"id\":\"PkBnU8cAZiOLa0fjxiUzMKsFMYZ2\"}},{\"type\":\"text\",\"text\":\"
        primarily to ensure that judgement is consistent or to offload that to people
        with more expertise than me. Partly to gauge whether Manifold has a different
        (therefore differently-biased) opinion. This allows direct comparison between
        the communities\"}]}]},\"userName\":\"Olivia\",\"userAvatarUrl\":\"https://firebasestorage.googleapis.com/v0/b/mantic-markets.appspot.com/o/user-images[...]
